*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
   
    color:purple;
    font-size: 38px;;
}
h3{
    font-size:25px;
    color: #4D4D4D;
}
h2{
    color:purple;
}
h4{
    color:purple;
}

a {
    color:purple;
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color: #A931DB;
}
.material-icons{
    vertical-align: bottom;
}

/*HEADER*/
.header{
    width: 1280px; 
    height: 46px;
    padding-top: 10px;
    margin: 0 auto;
    
}
.header img {
    padding-top:20px;
}

/* MENU */

.menu{
    float: right;
    height: 50px;
    
}
.menu li{
    display:inline-block;
    /* padding: 0px 20px 20px 0px; */

}
.menu a {
    padding: 20px;
}

.menu .material-icons{

    font-size: medium;
    color: #A931DB;
} 

.dropdown{
    position: relative;
    display: inline-block; /*Los elementos inline-block fluyen
                             con el texto y demás elementos 
                             como si fueran elementos en-línea y además respetan el ancho, el alto y los márgenes verticales*/
}
.dropdown li{
    display:block;
    padding: 10px;
    
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding:20px;
    z-index: 1;
  }
 .dropdown:hover .dropdown-content {
    display: block; /* elemento sea como un bloque*/
}

/*------------------------------    */

/* FOOTER */
footer{
    background-color: #E5E5E5;
    text-align: center;
    margin-top:30px;
    clear: both;

}
footer img {
    margin:5px;
    padding:8px;
    opacity: 60%;
}


/* BOTON */
.button {
    background-color:#752995;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline-color: #A931DB;
    
  }
  .button:hover{
    background-color:#A931DB;
    outline-color: #A931DB;
  }

.container{
    width: 1280px;
    margin: 0 auto;   
} 

/*PAGINA DE INICIO */
.imagen-portada {
    width: 100%; /*para que ocupe todo el width de la pagina*/
} 


.tituloSec {
    width: 100%;
    height: 64px;
    margin-top: 44px;
    background-image: url("../imagenes/backgroundTitulo.png");
    background-repeat: no-repeat;

}


.tituloSecText{
    width: 1280px; 
    margin: 0 auto;
    padding: 20px 0 0 30px;
    font-size: 20px;
    color:white;
}

/* 
.titulo {
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-image: url("imagenes/backgroundTitulo.png");
    background-repeat: no-repeat;

}


.titulo h4{
    margin-left: 110px;
    color: white;
    padding: 10px;
}
 */



.col{
    margin-left: 30px;
    width:367px;
    text-align: justify;
    padding: 10px;
    float: left;
}

/*las imagenes de cada columna tanto para categorias , 
como para todos los publos si no ponemos esto las imagenes adquieren su tamaño real*/

.col img {
    width: 24em;
    height: 15em;
   }  

.contenedor-galeria {
    width: 71.5em;
    height: 37.5em;
    margin: 0 auto ;
    overflow: hidden;   
}
.contenedor-galeria img { /*debe ocupar el 100 % para que vayan cambiando las fotos */
    
    width: 100%;
    height: 100%;
}
.contenedor-imagenes a {
    display: inline-block;
    margin-top:30px;
    
}
.contenedor-imagenes img  {
    padding: 10px;
    width: 172px;
    height: 166px; 
}  

/* CLASES Genéricas*/

.marginRight0{
    margin-right: 0 !important;
}


.marginLeft0{
    margin-left: 0px;
}

.marginTop20{
    margin-top: 20px;
    
}


.marginTop30{
    margin-top: 30px;
    
}

.marginTop40{
    margin-top: 40px;
    
}

.marginBottom30{
    margin-bottom: 30px;
    
}

.marginBottom50{
    margin-bottom: 50px;
    
}
.marginTop60{
    margin-top: 60px;
    
}
.marginleft20{
  margin-left: 20px;
}
.marginTop10{
    margin-top: 10px;
    
}

.tAlignCenter{
    text-align: center;
    
}

/* PAGINAS SECUNDARIAS*/
.contenedor-somos{
    padding-left: 30px;

}
.contenedor-somos  p{
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.contenedor-somos img{
  width: 100%;
}
.contenedor-pueblo p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contenedor-pueblo img {
    width: 100%;
    /* width: 45em;
    height: 22em;  */
}

/*formulario*/
form{
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}
form p{
    margin-top: 20px;
    text-align: left;

}

input[type=text]{

    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    border:2px solid #CAC7C7;
    width: 100%;

}
input[type=text]:focus{
    outline-color: #A931DB;
    

} 

input[type=submit]{
    outline-color: #A931DB;
    border-radius: 8px;

} 

input[type=file]{

    text-align: left;

} 

label
{
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 0px 4px 0px;
    color: #4D4D4D;
}
textarea{
	width:100%;
	height:100px;
    border:2px solid #CAC7C7;
	border-radius:3px;			
    margin:8px 0;
    padding: 10px;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
    display:block;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline-color: #A931DB;
}

.container-pueblo{
    float:left;
    padding-left: 30px;
    width: 60%;
}
.container-ubicacion{
    /* position: absolute; 
    right: 200px;*/
    float: right;
    width: 28%;
    margin-top: 32px;
}
.container-contacto{
    float: left;
    width: 55%;
    height: 650px;
}
.container-siguenos{
   
    margin-right: 150px;
    float: right;
}
.container-imagenes{
    margin-top: 20px;
}
.siguenos-imagenes img{
    margin-top:20px;
    margin-left: 10px;
width: 5em;
height: 5em;
}
.imagen-logo{
   padding: 20px;
}


/* ///////////////////////TABLA */

table{
    width: 86%;
    margin: auto;
    
    border-collapse: collapse;
}
table th:first-child{
    text-align: left;
}

table td:first-child{
    text-align: left;
 
}

table  th {
    padding: 15px;
    color:purple;
}


table  td {
    padding: 15px;
}


.ranking .cabecera {
    border-bottom: #A931DB 2px solid;
} 

.ranking th {
    border-bottom: #A931DB 1px solid;
} 

tr:nth-child(even) {background: rgb(248, 248, 248)}

.califi .material-icons{
    color: #ffa700;
    padding: 0px;
    display: inline;
    letter-spacing: 0ch;
}

