
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}


h1{
   
    color:purple;
    font-size: 38px;;
}
h3{
    font-size:25px;
    color: #4D4D4D;
}

/*HEADER*/
header{
    width: 1280px; 
    height: 46px;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    
}
header img {
    padding-top:20px;
}


/* FOOTER */
footer{
    background-color: #E5E5E5;
    text-align: center;
    margin-top:30px;

}
footer img {
    width: 120px;
    height: 50px;
}


/* BOTON */
.button {
    background-color:#752995;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline-color: #A931DB;
    
  }
  .button:hover{
    background-color:#A931DB;
    outline-color: #A931DB;
  }


/* CLASES */

.marginTop40{
    margin-top: 40px;
    
}
.marginTop60{
    margin-top: 60px;
    
}
.marginleft20{
  margin-left: 20px;
}
.marginTop10{
    margin-top: 10px;
    
}

/* MENU */
nav{ 
    width: 1280px; 
    margin: 0 auto;
    background-color: red;
}
.menu{
    float: right;
    
}

.menu li{
    display:inline-block;
    padding: 0px 20px 20px 0px;

}

.menu a {
    text-decoration: none;
    color: #752995;
    font-weight: 700;


}

.menu a:hover {
    color: #A931DB;
}

.menu .material-icons{
    vertical-align: bottom;
    font-size: medium;
    color: #A931DB;
} 

.dropdown{
    position: relative;
    display: inline-block; /*Los elementos inline-block fluyen
                             con el texto y demás elementos 
                             como si fueran elementos en-línea y además respetan el ancho, el alto y los márgenes verticales*/
}

.dropdown li{
    display:block;
    
}
.dropdown a:hover {
    color: #A931DB;
    

 }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding:20px;
    z-index: 1;
  }
  
 .dropdown:hover .dropdown-content {
    display: block; /* elemento sea como un bloque*/
}

.section-portada img{
    width: 100%; /*para que ocupe todo el width de la pagina*/
   } 
   
.main{
    width: 1280px;
    margin: 0 auto;
    
}
div{
    text-align: center;
   }


.contenedor-pueblos{
    width:367px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 10px;
}

.contenedor-galeria {
    width: 72.5em;
    height: 37.5em;
    margin: 0 auto ;
    overflow: hidden;
    
}

.contenedor-galeria img {
    width: 100%;
    height: 100%;
}

.contenedor-imagenes{
    margin: 0 0 60px 6vw;
    clear: both;
    overflow: auto;
}
.contenedor-imagenes a {
    display: block;
    margin-left: 2vw;
    margin-top:30px;
    float: left;
}

.contenedor-imagenes img {
    
    width: 9.5vw;
    height: 8.75vw; 
}


/* formulario */


form{
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

form p{
    margin-top: 20px;
}

input[type=text]{

    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    border:2px solid #CAC7C7;
    width: 100%;

}
input[type=text]:focus{
    outline-color: #A931DB;
    

} 

input[type=submit]{
    outline-color: #A931DB;
    border-radius: 8px;

} 

label
{
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 0px 4px 0px;
    color: #4D4D4D;
}
textarea{
	width:100%;
	height:100px;
    border:2px solid #CAC7C7;
	border-radius:3px;			
    margin:8px 0;
    padding: 10px;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
    display:block;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline-color: #A931DB;
}

