*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
}


h1{
   
    color:purple;
    font-size: 38px;;
}
h3{
    font-size:25px;
    color: #4D4D4D;
}

.button {
    background-color:#752995;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline-color: #A931DB;
 
    
  }

  .button:hover{
    background-color:#A931DB;
    outline-color: :#A931DB;
 
  }

.marginTop40{
    margin-top: 40px;
    
}

.marginTop60{
    margin-top: 60px;
    
}

.marginTop10{
    margin-top: 10px;
    
}

#section-imagenes{
    clear: both;
   
}


header{
    width: 1280px; 
    height: 46px;
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    
}




nav{ 
    width: 1280px; 
    margin: 0 auto;
    background-color: red;
}
.menu{
    float: right;
    
}

.menu li{
    display:inline-block;
    padding: 0px 20px 20px 0px;

}

.menu a {
    text-decoration: none;
    color: #752995;
    font-weight: 700;


}

.menu a:hover {
    color: #A931DB;
}

.menu .material-icons{
    vertical-align: bottom;
    font-size: medium;
    color: #A931DB;
} 

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown li{
    display:block;
    
}
.dropdown a:hover {
    color: #A931DB;
    

 }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    padding:20px;
    z-index: 1;
  }
  
 .dropdown:hover .dropdown-content {
    display: block;
}



.hero {
    overflow: hidden;
    text-align: center;
    color: #fff;
}

main{
    width: 1280px;
    margin: 0 auto;
    
}


.row{
    width: 100%;
    margin-top: 20px;
}

.col{
    width:367px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    padding: 10px;
}


#section-pueblos {
 
    width: 100%;
    margin-top:60px;
  
 
}
#section-pueblosimg {
    width: 100%;
    
}


#section-portada img{
 width: 100%;
}



header img {
    position: absolute;
    
    /*height: 50px;
    width: 15em;
    margin-left: 20%;

    */
}


/*
#menu{
    margin-left: 40%;
    margin-bottom:40px;
    padding: 30px 50px 0 0;
}


#menu > a:hover{
    text-decoration: underline;
}

#menu ul {
    color:black;
    margin:0;
    padding:0;    
    list-style:none;

}




#menu ul a {
    
    color:black;
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    padding:10px;
}


#menu ul li {
    display: inline-block;
   
}


#menu ul ul li {
    float:none;
   
}

#menu ul ul a {
    display: block;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}



#menu ul ul {
    display:none;
   
}

*/


section{
    text-align: center;
}

#contenedor-pueblos{
    background-color:green;
    text-align: center;
    margin-left: 250px;
}
#contenedor-pueblos div {
 
   
    float: left;
    margin-bottom:60px;
  
    margin-left: 30px;
}

.contenedor-pueblos img {
    
    width: 20em;
    height: 15em;
}



#section-imagenes div {
  
    margin-bottom:60px;
}
#contenedor-imagenes{
    background-color:green;
    
  margin-left: 21%;
    margin-bottom:60px;
}
#contenedor-imagenes div {
 
    margin-left: 10px;
   margin-top:30px;
    float: left;
 
  
}
#imagen-principal{
    width: 60%;
    margin-left: 20px;;
}
#contenedor-imagenes img {
    
    width: 8.5em;
    height: 8em;
   
}
#section-formulario{
    clear: both;
}






/* formulario */


.form1{
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

.form1 p{
    margin-top: 20px;
}



input[type=text]{

    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    border:2px solid #CAC7C7;
    width: 100%;

}
input[type=text]:focus{
    outline-color: #A931DB;
    

} 

input[type=submit]{
    outline-color: #A931DB;
    border-radius: 8px;

} 

label
{
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 0px 4px 0px;
    color: #4D4D4D;
}


/*form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}
*/



textarea{
	width:100%;
	height:100px;
    border:2px solid #CAC7C7;
	border-radius:3px;			
    margin:8px 0;
    padding: 10px;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
    display:block;
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline-color: #A931DB;
}

