<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Daroca
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Daroca, uno de los pueblos más bonitos de Aragón</h2>
      <img src="../../../imagenes/medievales/daroca-p7.png" alt="">
       
   
         
        <p>
          La localidad de Daroca, en la provincia de Zaragoza, fue declarada Conjunto histórico Artístico en 1931 y pasa por ser uno de los municipios monumentales más bonitos de todo Aragón.            
        </p>
       
        <p>
        Sus callejuelas dan muestra de un esplendoroso pasado gracias entre otras cosas a su ubicación, cruce de caminos y frontera entre reinos y regiones, y en la que han dejado su impronta árabes, judíos y cristianos. De entre los tesoros con los que cuenta Daroca destacan sus más de 4 kilómetros de murallas y sus iglesias, que a comienzos del siglo XII eran diez parroquias de las que siete permanecen en pie a día de hoy.        
        </p>

    
        <h4 class="marginTop20" >Historia</h4>
        <p>
          Según algunos historiadores, la aldea celtibérica primitiva en este lugar se llamaba Darek. Se ha señalado Daroca con la ciudad a la que los romanos llamaron Agiria, construyendo un fuerte castillo para defender la vía laminitana, que pasaba por el pueblo y conectaba Zaragoza con Valencia.
        </p>

        <p>
          La primera mención documental de la ciudad data del año 837; aparece como ciudad de cierta importancia en el norte de al-Andalus, donde se había instalado la familia de los Banu al-Muhayir, que pertenecían a la tribu de los tuyibíes, o árabes del sur, procedentes del Yemen.5​ Los árabes le pusieron el nombre de Calat-Darawca (862), y lo tuvieron durante 400 años, hasta que Alfonso I de Aragón la conquistó en 1120, y en 1141 emitió un código legal primitivo, que hoy se desconoce. En el siglo xii, Ramón Berenguer IV le otorgó las leyes y los privilegios que la convirtieron en la capital de la Comunidad de Daroca, que tuvo una gran influencia social y militar en la Edad Media.6​ Tuvo un voto en los tribunales y fue sede de varias asambleas famosas con Pedro II (1196), Jaime I (1222-1243), Jaime II (1311) y Pedro IV (1338), en las que se concertó la paz con Castilla.
        </p>


        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
          Daroca pasa por ser “una de las más sufridas y hermosas ciudades de Aragón” como así la catalogó el historiador José Luis Corral, nacido allí en 1957. Como ciudad defensiva que es cuenta con importantes estructuras que la hacían inexpugnable, además de destacadas casas señoriales y, como hemos mencionado, significativas iglesias.
        </p>
        
        <h5>Puerta Baja</h5>
        <p>
          aroca se encuentra en el Camino Real que enlazaba Castilla con Cataluña, por lo que con frecuencia pasaban y hacían escala en esta ciudad reyes y visitantes ilustres. Por ello la puerta que los recibía era la llamada Puerta Baja, que originalmente era del siglo XIII, pero que fue remodelada en el siglo XVI, cuando se le añadieron dos torreones cuadrangulares rematados con almenas, que muestran con su porte la importancia de la ciudad. El arco que las une sirve además para dar salida a las aguas de las tormentas, que se ciernen periódicamente sobre la ciudad.
        </p>

        <h5>Fuente de los 20 caños</h5>
        <p>
          Junto a la Puerta Baja y, rematando el conjunto, encontrarás la Fuente de los 20 caños, levantada en el siglo XVII con la intención de mostrar al viajero la riqueza de la que disfrutaba la ciudad.
        </p>
        <h5>Calle Mayor</h5>
        <p>
          Pasear por las calles de Daroca te llevará a las épocas más esplendorosas de su pasado, sobre todo a la Edad Media, cuando el fuero otorgado por Ramón Berenguer IV en 1142, permitió que se convirtiera en un oasis foral de libertades, que atrajo a gran cantidad de personas de Aragón, Cataluña, Francia, Castilla y Navarra.
        </p>

        <h5>El Barrio de la Morería</h5>
        <p>
          En este barrio quedaron concentrados los musulmanes tras la conquista de Daroca por tropas cristianas en 1120. En lo que hoy es la Plaza del Rey se encontraba una antigua mezquita. El barrio de la Morería aún conserva parte de su trazado islámico de calles estrechas y sinuosas.
        </p>
       </div>
      
       <div class="container-ubicacion" >   
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6011.85837491404!2d-1.4185269221368428!3d41.11423756716066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5c0e21449174b9%3A0x9e81277e72a10af7!2s50360%20Daroca%2C%20Zaragoza!5e0!3m2!1ses!2ses!4v1609671879953!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
  
            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>
  
            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>
  
        </div>
      
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>