<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Chulilla
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

    <h2 class="marginBottom30">Chulilla, un precioso pueblo de la Serranía </h2>
      <img src="../../../imagenes/medievales/viaje-a-chulilla_pp.jpg" alt="">
       
   
         
        <p>
            Chulilla, un precioso municipio de la provincia de Valencia con menos de 1000 habitantes en la Serranía, es uno de esos rincones que invita al caminante a disfrutar de sus calles y entorno, paisaje rodeado de montañas y parajes naturales.
            
        </p>
    
        <p>
            Si bien podríamos decir que uno de sus grandes atractivos es la conocida como Ruta de los Puentes Colgantes, Chulilla tiene que ofrecer muchísimo más al visitante, ya que dispone de decenas de senderos y caminos naturales para conocer todo su término.
        </p>

        <p>  
        Un paseo por sus calles y centro histórico, lleno de casitas blancas con flores en sus fachadas; un refrigerio, comer o cenar en uno de sus bares, donde la mayoría se localizan en la plaza de la Baronía; comprar en uno de sus hornos o carnicerías alguno de sus productos típicos; o alojarse en alguna de sus casas rurales, son opciones que se pueden complementar con las múltiples opciones naturales que ofrece la población.
        </p>

        <p>
      Realizar la ruta de los Calderones o los Puentes Colgantes; caminar hasta la Peña Judía, zona de baño del río Turia; disfrutar del Charco Azul, un precioso lago que dispone de una pasarela de madera en uno de sus laterales (aunque está en mal estado); realizar la pequeña ruta circular de Las Cuevas – Peñeta; o subir hasta lo alto del Castillo de Chulilla, lugar desde donde observar preciosas vistas de la población, son solo algunas de las opciones senderistas.
        </p>

        <h4 class="marginTop20" >Historia</h4>
      
        <p> 
            Su poblamiento es primitivo, datándose con seguridad desde el primer milenio adC. A pesar de haberse hallado un hacha calificada de neolítica en el Sufruto, los primeros vestigios documentados en excavación han sido correspondientes a la Edad de Bronce en la superficie superior del Monte del Castillo a partir del cual, como núcleo original del término, el poblamiento ha sido continuado. Cabe señala que fueron añadas hace aproximadamente unos 20 años unas pinturas rupestres que muestran cacerías de animales salvajes. Las mencionadas pinturas se localizan en las siguientes coordenadas:39°38'18.8"N 0°54'09.1"W
        </p>

        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  
      
        <p> 
            En Chulilla podemos hacer muchas actividades en familia, el senderismo es una de las más recomendadas, desde la ruta del charco azul hasta la espectacular ruta de los pantanos por sus puentes colgantes, podemos encontrar numerosos itinerarios para la práctica de senderismo en este enlace.
        </p>
        <p> 
          Si  te gusta el conocer el patrimonio la historia  de nuestros pueblos te aconsejamos que visites  El Castillo de Chulilla, la Iglesia de la Virgen de los Ángeles, la Ermita de Santa Bárbara y la Ermita de San Josep.
        </p>  

        <p> 
          Pero si lo que te gustan son los deportes de aventura, Chulilla es el sitio perfecto para la escalada, rutas en BTT o rutas a caballo.
        </p>
      
        <p>El pueblo se ubica en el corazón del Parque Natural del Turia , en la falda de un alto promontorio, dominado por el castillo árabe que conserva torreones y murallas del lado de la población, ya que por la parte que da al río existe un impresionante cañón que lo hace inexpugnable por lo que, en ese lado, carece de construcciones defensivas.
        </p>
        
        <p>
            La erosión del río Turia ha creado una hoz y el Salto de Chulilla, de 160 metros de profundidad y 10 metros de anchura. La vegetación está formada por pinares (carrasco) y monte bajo mediterráneo.
        </p>
        
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.7056412863844!2d-0.8944323846270469!3d39.65633872946084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60954f26d2c5a9%3A0xd97e95994d194ef1!2s46160%20Chulilla%2C%20Valencia!5e0!3m2!1ses!2ses!4v1608493747402!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>