<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Niebla
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Niebla, pueblo encantador a orillas del río Tinto</h2>
      <img src="../../../imagenes/medievales/niebla-p6.png" alt="">
       
   
        <p>
          Niebla es un pequeño pueblo perteneciente a El Condado de Huelva y situado a orillas del río Tinto. Este evocador lugar estuvo muy presente en la historia, sobre todo en época islámica de la que aún conserva su gran muralla, los árabes la llamaban Nebla, pero también le decían “la roja” por el color característico de sus murallas.
        </p>

        <p>
          Con casi 5.000 habitantes la localidad de Niebla, al igual que las demás poblaciones de su comarca, produce numerosos vinos que poseen la Denominación de Origen Condado de Huelva.
        </p>

        <h4 class="marginTop20" >Historia</h4>
        <p>
          Niebla ha tenido una gran importancia dentro de la región de Andalucía, con gran peso en su historia a través del establecimiento de distintos pueblos y culturas. Fruto del paso de estos pueblos, Niebla ha recibido numerosos nombres: los tartesios la llamaron Ilípula, los romanos Ilipla, los visigodos Elepla, los musulmanes Lebla y los castellanos Niebla.
        </p>
        <p>
          A partir del siglo xvii, Niebla comenzó un paulatino proceso de decadencia y de descenso en su población, provocado por el caciquismo y despotismo feudal al que eran sometidos los ciudadanos de aquella época. Al mismo tiempo crecían los municipios y pedanías aledañas, auspiciados por estos condes que posteriormente independizaban. El terremoto de Lisboa de 1755, que tan gravemente afectó al oeste andaluz, arruinó gran parte del patrimonio de la ciudad y puso un punto y aparte en su riqueza histórica y artística. En el siglo xix el condado de Niebla fue extinguido y la ciudad pasó a ser un municipio de la provincia de Huelva. Entre tantos otros monumentos, también se conserva un rollo de justicia.
        </p>

        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  
        <p>
          Nada más llegar a Niebla descubrimos el Puente Romano que nos permite sortear las aguas del río Tinto sobre la antigua calzada romana que unía la desembocadura del río Guadiana con Itálica. Este puente histórico de nueve ojos y grandes tajamares data del Siglo II y tiene sus orígenes en la antigua población romana llamada Ilipa, que sirvió de puente estratégico en la parte baja del río Tinto.
        </p>
        <h5>Muralla árabe</h5>
        <p>
          El casco histórico de Niebla está rodeado por la majestuosa muralla árabe que protegía la antigua medina. Ni más ni menos que 2 kilómetros de murallas forman el recinto defensivo que aún conserva cincuenta torres y numerosas puertas fortificadas. Todo este amurallado es el mayor de Europa y el mejor conservado, fue construido por los almohades mayormente durante el Siglo XII sobre restos de murallas tartésicas, y se reformó en el Siglo XV para albergar un castillo cristiano, llamado Castillo de los Guzmanes o Castillo de los Condes de Niebla.
        </p>
        <h5>Iglesia</h5>
        <p>En el interior de las antiguas murallas árabes se encuentra el conjunto histórico monumental de Niebla en el que destaca la Iglesia de Santa María de la Granada. Esta iglesia fue declarada Bien de Interés Cultural, ya que fue construida tras la reconquista cristiana sobre los restos de una antigua mezquita del Siglo XI, de la que aún conserva la base del alminar, el patio y un nicho del oratorio. El actual templo cristiano de estilo gótico fue levantado desde finales del Siglo XV hasta principios del Siglo XVI.</p>
        <h5>Fiestas</h5>
        <p>
          Las fiestas de Niebla comienzan la última semana de mayo con la Romería de la Virgen del Pino, el 7 de junio celebran el día del patrón Walabonso, en torno al 8 de septiembre son las fiestas en honor a la Virgen del Pino durante una semana. Durante los meses de julio y agosto tiene lugar en el Castillo de los Guzmanes el Festival de Teatro y Danza “Castillo de Niebla”, y en torno al 1 de noviembre se celebra la Feria de “Tosantos” con eventos taurinos, feria de muestras del Condado de Huelva y una feria medieval andalusí.
        </p>
       </div>
      
       <div class="container-ubicacion" >   
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6342.26715212944!2d-6.68754747252373!3d37.36301611934586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11e95fa5298c51%3A0xf0f2771906eb204d!2s21840%20Niebla%2C%20Huelva!5e0!3m2!1ses!2ses!4v1609671699720!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
  
            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>
  
            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>
  
        </div>
      
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>