<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Almazán
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Almazán</h2>
      <img src="../../../imagenes/medievales/almazan-p8.png" alt="">
       
   
        <p>
          Almazán es un municipio y villa española de la provincia de Soria, en la comunidad autónoma de Castilla y León. Con una población de 5477 habitantes (INE, 2020), se trata del segundo término municipal más poblado de la provincia. La localidad es atravesada por el río Duero.            
        </p>
      

        <h4 class="marginTop20" >Historia</h4>
        <p>
          El año 1068 Almazán es reconquistada por los cristianos por Alfonso VI de León, aunque poco después fue recuperada para al-Ándalus.3​ Es a comienzos del siglo xii cuando Almazán es definitivamente repoblada por la acción de Alfonso I el Batallador en 1128. Un diploma del 22 de septiembre de ese año lo documenta, con la referencia temporal «en el tiempo cuando el predicho rey Alfonso poblaba la población de Almazán, que él llamaba Plasencia». Este testimonio informa del nombre que le daba el rey aragonés, que sin embargo no llegó a consolidarse.3​4​ Tras la muerte de Alfonso I el Batallador en 1134, la población pasa a manos castellanas y Alfonso VII de León hace donaciones de terrenos de Almazán al obispo de Sigüenza.
        </p>
        <p>
          A finales del siglo xx, entre el censo de 1981 y el anterior, crece el término del municipio porque incorpora a Cobertelada, con las localidades de Almántiga, Balluncar, Covarrubias y Lodares del Monte. A comienzos del siglo xxi la localidad contaba con policía local y guardia civil. También cuenta con un servicio de limpieza municipal de las calles.        
        </p>
  

        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  
        <p>
          Rodeada por extraordinarias construcciones monumentales, la Plaza Mayor de Almazán se vislumbra como ‘plaza castellana’ por excelencia. Aquí encontramos dos de los monumentos más importantes de la Villa, el Palacio gótico-renacentista de los Hurtado de Mendoza y la Iglesia románica de San Miguel, declarada monumento histórico-artístico en 1931.
        </p>
        <h5>Palacio señorial</h5>
        <p>
          El Palacio señorial de estilo renacentista fue erigido por la familia Hurtado de Mendoza en los siglos XV y XVI. El palacio se alza en dos plantas: En la planta inferior se abren seis ventanas que se corresponden con otros tantos balcones de la planta principal. En la planta superior destaca la galería de estilo gótico-isabelino.
        </p>
        <p>
          El exterior presenta dos fachadas renacentistas, cada cual más esplendorosa. Una de estas fachadas cierra uno de los lados de la Plaza Mayor, formando ángulo con la Iglesia de San Miguel. Otros elementos destacables son el escudo de los Mendoza y el patio interior.
        </p>
        <h5>Iglesia de San Miguel</h5>
        <p>
          La Iglesia de San Miguel, románica del siglo XII, fue declarada Monumento Nacional en 1931. El templo es el resultado de una miscelánea de estilos. Adosada al templo se ubica una torreta, que alberga en su interior una peculiar escalera de caracol.
        </p>
        <p>
          Sorprende el abovedamiento del crucero, con rara cúpula nervada de influencia musulmana, formada por nervios que parten pareados, dejando en el centro un octógono base de la linterna y dibujando una estrella de ocho puntas.
        </p>
        <h5>Recinto Amurallado</h5>
        <p>
          Recinto Amurallado Un paseo por las calles de la Villa o sus alrededores puede deparar la contemplación de su antigua muralla. Decir Almazán es hablar de sus murallas, ya que de su traducción al romance resulta ‘El Fortificado', y aunque su raíz claramente árabe pudiera llevar a confusión hay que fechar estas en el tránsito de los siglos XII al XIII.
        </p>
       
      </div>
      
       <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95654.03104471152!2d-2.6266604249624783!3d41.47851355700635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd44b146c47b03db%3A0x40587075af54dd0!2zQWxtYXrDoW4sIFNvcmlh!5e0!3m2!1ses!2ses!4v1609671951209!5m2!1ses!2ses"
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
  
            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>
  
            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>
  
        </div>
      
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>