<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Castellar de la Frontera
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Castellar de la Frontera, el pueblo salvado por los hippies</h2>
      <img src="../../../imagenes/medievales/castellar-frontera-p5.png" alt="">
        
        <p>
          Castellar de la Frontera cuenta con dos núcleos de población: Castellar Nuevo, sede administrativa y localidad principal del municipio. Fue construido en 1971 y aquí se mudó prácticamente toda la población en esa fecha, con la excepción de las dos familias.
        </p>
        <p>
          Castellar Nuevo es el típico pueblo de colonización sin muchas pretensiones. Bonito para dar un pequeño paseo y divertirse con el ir y venir de sus ciudadanos.
        </p>
        <p>
          Por otra parte está el castillo de Castellar o Castellar Viejo que es el verdadero atractivo del pueblo. Es esta la parte descrita en la introducción historiada del post. Una maravilla medieval perfectamente conservada que deja boquiabierto a todo el que visita. Todos los atractivos que te comento en este artículos se encuentran situados en el castillo de Castellar o Castellar Viejo, excepto La Almoraima, que se localiza a un kilómetro del núcleo de Castellar Nuevo.
        </p>

        <h4 class="marginTop20" >Historia</h4>
        
        <p>
          Érase una vez una fortaleza medieval que resguardaba en su interior no sólo a sus señores, sino que también ofrecía protección a todo su pueblo. Un castillo en plena ‘frontera’ entre cristianos y musulmanes que controlaba toda la comarca amén de un mar, un océano y dos continentes.            
        </p>
        <p>
          Los siglos pasaron y llegó el día en que un dictador decidió que ese emplazamiento ya no era válido, que sus habitantes debían abandonarlo por otro lugar más acorde a la modernidad de los tiempos. Y sus moradores le obedecieron. En 1971 abandonaron sus centenarias casas y su bello castillo que pasaban a estar, desde ese momento, abocados a la desaparición.
        </p>
        <p>
          Pero el milagro ocurrió: unos simpáticos extranjeros se encontraron el paraje abandonado y decidieron cuidar de la fortaleza y hacer de ella su hogar. Gracias a ellos, el magnífico paraje se conservó y preservó hasta nuestros días.
        </p>

        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
          Sin más dilación, agárrate los machos, que comenzamos un verdadero viaje en el tiempo por las maravillas de Castellar de la Frontera.
        </p>
        <h5>Entrada a la fortaleza</h5>
        <p>
          La entrada dentro del pueblo-fortaleza de Castellar nos puede recordar a otro lugar. ¿Sabes a cuál? Los arquitectos de Castellar y los de la Alhambra de Granada siguen el mismo estilo. La puerta en recodo tan típica de los alcázares musulmanes es una de las características comunes que tienen la ciudadela nazarí de Granada y el castillo de Castellar. De hecho, se dice que los arquitectos de la capital y de este pueblo fueron los mismos.
        </p>
        <h5>Callejeando por Castellar</h5>
        <p>
          Entre nuestros callejeos podremos descubrir y sentir que estamos a la vez en Andalucía y en Castilla. Algunas de las calles cuentan con las típicas casas encaladas típicas del sur de España, pero otras fachadas muestran la piedra vista, algo más típico de la arquitectura de los pueblos del norte. Castellar junta lo mejor del norte y del sur de la península. El pueblo es pequeñito por lo que no se tarda mucho en recorrer cada una de sus callejuelas y placitas. Merece la pena descubrirlo sin prisas.
        </p>
        <h5>El alcázar</h5>
        <p>
          ¿Un castillo dentro de otro castillo? En Castellar existe. Dentro de la fortaleza gaditana se puede visitar también el alcázar, la residencia de los dueños de la misma. Hoy en día es un hotel en el que uno puede disfrutar de una estancia rural magnífica.
        </p>

      </div>
      
       <div class="container-ubicacion" >   
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3216.0639872650772!2d-5.421495484435369!3d36.2864972800576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0ce846b17efa19%3A0x3d2484d5d03bfbe8!2s11351%20Castellar%20de%20la%20Frontera%2C%20C%C3%A1diz!5e0!3m2!1ses!2ses!4v1609671639593!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
  
            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>
  
            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>
  
        </div>
      
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>