<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Laguardia
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class=" contenedor-pueblo marginTop40">
    

      <div class="container-pueblo marginBottom50"> 
    <h2 class="marginBottom30">Laguardia, villa amurallada </h2>
      <img src="../../../imagenes/medievales/laguardia_pp.jpg" alt="">
       
   
         
        <p>La villa medieval de Laguardia es la capital de Rioja Alavesa. Fue fundada en el siglo X como defensa del Reino de Navarra y conserva casi intacto su trazado medieval. Allí aguardan las iglesias fortificadas de San Juan Bautista y la de Santa María de los Reyes cuyo pórtico fue policromado por Juan Francisco de Rivera en el XVII. Las calles de Laguardia están repletas de espléndidos edificios medievales, renacentistas, barrocos y neoclásicos. Entre ellos, destaca la Casa de la Primicia, del siglo XIV, el edificio civil más antiguo de la villa.

        </p>

        <h4 class="marginTop20" >Historia</h4>
        
         <p>       
         Se trata de una villa amurallada que en el pasado fue importante atalaya pero hoy te recibe con los brazos abiertos y una excelente oferta enogastronómica.
         </p>
         <p>
         El trazado medieval de las estrechas calles de Laguardia, las puertas de acceso a la villa y los restos de murallas que aún quedan te trasladarán en el tiempo, lo mismo que los restos del neolítico o de la edad del bronce que se encuentran en las cercanías y que son los más antiguos de comunidades agrícolas descubiertos en Euska
        </p>
         <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>
         
        <p>
         Una vez en sus calles, no dejes de visitar una de las joyas del arte vasco y su pórtico policromado, la iglesia de Santa María de los Reyes, cuyos vestigios más antiguos datan del siglo XII, y la de San Juan Bautista, que cuenta con interesantes piezas de arte religioso como el retablo Mayor, una espectacular pieza barroca.
        </p>
 

        <h4 class="marginTop20" >Una villa minada de bodegas</h4>
         
          
         <p>
         Laguardia está minada de bodegas y no te será difícil comprobarlo visitando los sótanos de algún establecimiento hostelero. El vino es el producto que ha marcado la vida y la historia de Laguardia, así que no puedes dejar de probarlo. No te faltarán oportunidades en las bodegas que la rodean, muchas de las cuales se presentan al visitante con estilos arquitectónicos de vanguardia. Podrás conocer el proceso de producción del vino en muchas de las visitas guiadas que se ofrecen en las bodegas de la zona. Y no olvides que el mejor vino es siempre el que has bebido, aquí lo disfrutarás además en el lugar donde nace y se cría. Una visita a Laguardia y un paseo por sus calles o por la atalaya de “El Collao” es algo que no olvidarás.
        </p>

       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188128.6660951459!2d-2.712995300500059!3d42.54445384076559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4ff856b1b7ab07%3A0xca33c8d995fd6bc0!2sLaguardia%2C%20%C3%81lava!5e0!3m2!1ses!2ses!4v1608449395406!5m2!1ses!2ses" 
        
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>