<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Albarracín
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

    <h2 class="marginBottom30">Albarracín, la ciudad inconquistable</h2>
      <img src="../../../imagenes/medievales/albarracin.jpg" alt="">
       
   
         
        <p>Albarracín es un municipio y localidad español del suroeste de la provincia de Teruel, en la comunidad autónoma de Aragón. 
          Cuenta con una población de 1025 habitantes (INE 2019). La localidad es Monumento Nacional desde 1961; posee la Medalla de Oro 
          al mérito en las Bellas Artes de 1996, y se encuentra propuesta por la Unesco para ser declarada Patrimonio de la Humanidad por la belleza 
          e importancia de su patrimonio histórico.</p>

        <h4 class="marginTop20" >Historia</h4>
        
         <p>       
          En la Edad de Hierro estuvo habitada por la tribu celta de los lobetanos. Se han encontrado importantes pinturas
           rupestres epipaleolíticas y neolíticas de estilo levantino, esquemático y semiesquemático en el pinar del rodeno. 
           Durante la época romana se llamó, al parecer, Lobetum, y en tiempos de los visigodos, Santa María de Oriente.
         </p>
   
         <h4>Patrimonio, historia y naturaleza</h4>
         
         <p>       
          Hay mucho que ver en Albarracín. De sus casas, la más célebre es la de la Julianeta, 
          hoy residencia de artistas. O la Casa de los Navarro de Arzuriaga, con una singular leyenda. 
          Sin olvidar que la mayoría de las casas en Albarracín destacan por sus escudos heráldicos, sus rejas, 
          sus aleros y, especialmente, sus llamadores. Más allá de su historia, la clave del éxito de Albarracín es que en 
          la necesidad de restaurar su patrimonio han encontrado la manera de realizar una intensa proyección cultural, encabezada 
          y dirigida por la Fundación Santa María de Albarracín. Otra de las singularidades de esta preciosa localidad es el característico 
          yeso rojizo con el que se han levantado sus edificios. Es una auténtica maravilla perderse caminando por sus callejuelas, pasar bajo sus 
          arcos, disfrutar de las vistas de la muralla, la alcazaba musulmana, el claustro de la catedral, la iglesia de Santa María o la iglesia de Santiago.
         </p>
   
         <p>
Con numerosos reconocimientos oficiales, entre los que destacan el Europa Nostra, Albarracín es Monumento Nacional desde 
          junio de 1961 y en 1996 recibió la Medalla de Oro al Mérito en las Bellas Artes. No solo patrimonio e historia encontraremos en Albarracín, 
          ya que se halla envuelto por la generosa naturaleza de la Sierra de Albarracín, una de las zonas más elevadas del Sistema Ibérico. 
          El río Guadalaviar, los Montes Universales, numerosos recorridos señalizados de senderismo y rutas de BTT que serpentean entre bosques de pinos, 
          sabinas, arces y robles completan un destino espectacular.
          </p>
          <h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
          <p>
            Municipio de calles empinadas y estrellas, sus edificios tienen el color rojizo característico de esta zona de la sierra debido a la roca sedimentaria de la que están hechas llamada rodeno.
          </p>
          <p>
          Los atractivos principales que hay que ver en Albarracín son: la catedral de San Salvador, del siglo XVI; el alcázar de Albarracín, con un campo arqueológico de época medieval en su interior; las murallas de Albarracín, que rodean la población y se extienden hasta la cota más alta del peñón en el que está ubicado el casco antiguo y diversas casas como la Casa Consistorial y la de Julianeta. Otros elementos a destacar son sus balcones colgados sobre el río Guadalaviar, que recuerdan a las casas colgadas de Cuenca.
          </p>
          <p>
            También podemos encontrar museos como el Museo Municipal, el Museo de la Forja y el Museo Fundación Eustaquio Castellano (que se encuentra en la zona del Arrabal).
            Hay también un pequeño paseo fluvial paralelo al río asequible para cualquier tipo de visitante.
          </p>


       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6076.215360817185!2d-1.4466278733047!3d40.40646526746507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5dc420c9d9d5eb%3A0xa73bb26f5bf55cd8!2s44126%20Albarrac%C3%ADn%2C%20Teruel!5e0!3m2!1ses!2ses!4v1608447287063!5m2!1ses!2ses"
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>  

</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>