<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos medievales / Niebla
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Niebla</h2>
      <img src="../../../imagenes/medievales/niebla-p6.png" alt="">
       
   
         
        <p>
          No es que Montfalcó Murallat sea un pueblo amurallado. Es que todo él es una fortaleza. Ubicado en un promontorio desde el que se domina toda la comarca de Segarra, este baluarte fue muy valioso durante la Reconquista y la consolidación de la corona de Aragón. Más tarde, el límite de espacio limitó su expansión y se convirtió en casi un recuerdo. Hoy en día, su indudable fotogénica lo ha resucitado, ofreciendo al viajero una experiencia muy genuina donde no solo destaca su fotogenia, también lo bien conservado (y reconstruido) que está. Pura piedra.
            
        </p>

        
        <p></p>
          Seguro que habrás visitado muchos pueblos medievales con murallas, pero te adelanto que un pueblo como Montfalcó Murallat no es fácil encontrarlo.
        </p>

        <p>
          De hecho, hasta mi reciente ruta por la provincia de Lleida en Cataluña no había tenido la ocasión de ver un ejemplo como el de esta villa medieval situada en lo alto de una colina.
        </p>

        <h4 class="marginTop20" >Historia</h4>
        <p>
          De hecho, las primeras referencias históricas de Montfalcó Murallat se remontan al siglo XI, durante el reinado del conde de Berga, Bernat I.
        </p>
        <p>
        En dicha época esa zona era territorio fronterizo tras haber sido conquistado a los musulmanes, por lo cual es fácil entender que aprovechando la altura de la colina se construyera tal fortificación.
        </p>
        <p> 
           
        </p>

        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  
      <p>
        Solo puedes acceder al interior de Montfalcó por su fachada sur a través de dos puertas sucesivas unidas por un pasaje en ángulo recto, tradicional sistema utilizado por los musulmanes para facilitar la defensa de las fortificaciones.
      </p>  
      <p>
      En Montfalcó Murallat en la actualidad solo residen dos personas, por lo que si lo visitas fuera de los fines de semana y temporada alta de vacaciones, es posible que podrás pasear completamente solo, tal como nos sucedió a nosotros.
      </p>  
      <p>
        Tras pasar dichas puertas con arcos abovedados, llegas directamente a la plaza central central, donde verás que hay un restaurante.
      </p>
      
       </div>
      
       <div class="container-ubicacion" >   
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6342.26715212944!2d-6.68754747252373!3d37.36301611934586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11e95fa5298c51%3A0xf0f2771906eb204d!2s21840%20Niebla%2C%20Huelva!5e0!3m2!1ses!2ses!4v1609671699720!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>
  
            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>
  
            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>
  
        </div>
      
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>