<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
         
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos de Montaña / Unha
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    
    <h2 class="marginBottom30">Unha</h2>
    <img src="../../../imagenes/montaña/p8.jpg" alt="">
    <p>Unha es una localidad española perteneciente al municipio Alto Arán, en la comarca catalana del Valle de Arán.</p>
      
   
         <h4 class="marginTop20" >Historia</h4>
         <p>Situado en un montículo y al pie del escarpado Pui d’Unha, con una esplendida vista del valle y el glaciar y picos de La Maladeta, este pueblecito cercano a Salardú es uno de los que mejor ha resistido el paso del tiempo. Testimonio de ello es su iglesia románica de Santa Eulària con una bellísima torre octogonal que se alza sobre el armónico conjunto de casas aranesas entre las que destacan Ço de Brastet (1580). En esta casa se ubica actualmente el interesante Museo de la Nieve, mientras que en su iglesia se descubrieron los frescos de un maravilloso pantocrátor en los años 90. Dejando atrás la iglesia a la entrada del pueblo, puedes admirar un pequeño edificio construido en 1580, la Casa Fuerte de Unha, posiblemente uno de los más singulares del valle, con sus viejos baluartes defensivos, una buhardilla y una pequeña bodega.</p>

<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
        <h5>Iglesia Santa Eulàlia d'Unha</h5>

        <p>A los pies del majestuoso Pui d'Unha y regado por el río Unhola muy poco antes de su desembocadura en el Garona, la pequeña localidad de Unha se sitúa en el extremo oeste de la Val d'Arán (Lleida), nada menos que a 1300 metros sobre el nivel del mar y a escasa distancia de la turística población de Salardú y de la conocida estación invernal de Baqueira-Beret.</p>
<h5>Museo de la Nieve del Vall d´Arán</h5>
<p>El edificio donde se encuentra este nuevo museo es una construcción que data del siglo XVIII, aunque luego, ya en el siglo XXI fue restaurada precisamente para acoger este museo. Es por eso mismo que en el interior se mezcla de forma excelente elementos tradicionales de la cultura aranesa con las nuevas tecnologías.</p>
<h5>Refugio de Colomers</h5>
<p>El refugio de Colomèrs, propiedad del Conselh Generau d'Aran, está situado en el Val d'Aran a 2.135m de altitud, dentro de la zona periférica del Parc Nacional d'Aigüestortes y Estany de Sant Maurici. La localidad más cercana es Salardú, desde donde se accede en el Valle de Aiguamòg, a los Banhs de Tredòs y al circo de Colomèrs. El refugio está en funcionamiento desde el año 2008.</p>

   
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1465.8399618173812!2d0.9018860082180951!3d42.7104976947912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a897fc4c01f8e5%3A0x97340ef37ea6c5a6!2s25598%20Unha%2C%20L%C3%A9rida!5e0!3m2!1ses!2ses!4v1608823322543!5m2!1ses!2ses" width="340" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      </div>  
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>