<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
         
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos de Montaña / Taramundi
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

    <h2 class="marginBottom30">Taramundi, el legado celta de Asturias</h2>
    <img src="../../../imagenes/montaña/p4.jpg" alt="">
       
   <p>Taramundi es un concejo de la comunidad autónoma del Principado de Asturias, en España, una parroquia de dicho concejo y una villa perteneciente a esta parroquia. La villa de Taramundi es la capital del concejo. Es uno de los municipios en los que se habla el eonaviego.</p>
         <h4 class="marginTop20" >Historia</h4>
         <p>En ningún otro lugar de la geografía peninsular española tendrá el viajero amante de las tradiciones la oportunidad de admirar una colección de testimonios histórico-artísticos, arqueológicos y etnográficos tan impresionante vinculados con la civilización celta como en el concejo de Taramundi. Desde un castro hasta monumentales artilugios hidráulicos, pasando por los cortines, molinos, corripas, mazos, ferrerías y los tres tipos tradicionales de almacenes elevados para conservar el grano y los alimentos (hórreos, cabazos y paneras), este municipio asturiano cuenta con la mayor cantidad de museos etnográficos, en pleno funcionamiento y abiertos todo el año, de toda la Península, en los cuales la mayoría de sus artilugios tienen raíces célticas.</p>
        
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
        <h5>Un tranquilo paseo por Taramundi te desvelará insospechados secretos
        </h5>
        <p>La capital de Taramundi - que lleva el mismo nombre que el concejo – es un pueblo tranquilo y apacible a cualquier hora del día o de la noche, donde el ritmo de la vida es lento y sosegado.</p>
<p>Engolado en una ladera, enseguida llama la atención desde todos los puntos en que lo mires el campanario de su iglesia parroquial, así como la antigua casa del cura o rectoral, convertida desde hace tres décadas en un estupendo hotel rural, que como no podía ser de otra manera se llama La Rectoral, y que se ha convertido con el paso del tiempo en todo un emblema, dado que su puesta en marcha marcó el nacimiento del turismo rural español.</p>
<p>Por si fuera poco, esta apacible vuelta te llevará a un hallazgo sorprendente: ¡Un castro!. Y es que en un rincón del pueblo está excavado uno de los castros más importantes de Asturias. Os castros, que así se llama el castro de Taramundi, está enclavado en un lugar privilegiado. Enclave decisivo de la Edad del Bronce, fue un lugar de paso y de comercio, porque estaba ubicado justo en la ruta que transcurre entre el suroccidente de Asturias y la ría del Eo.</p>
<p>Esta tradición viene de tiempo inmemorial, aunque es a finales del siglo XIX cuando el comercio de la cuchillería comienza a ser relevante. Lo cierto es que esta actividad llega hasta nuestros días, y llegará también hasta los tuyos, cuando te detengas un rato en ese gran taller artesano que es la Cuchillería de Taramundi.</p>

        <h5>Cuando las navajas se convierten en arte: la Cuchillería de Taramundi</h5>
   
        <p>Entre las muchas curiosidades que atesora la villa de Taramundi está la del arte de la cuchillería, que la convierten en uno de los lugares más famosos del mundo por sus navajas artesanas.</p>
    <h5>Nunca habrás visto tantos molinos de una vez… hasta que no visites Mazonovo</h5>
    <p>En un idílico lugar llamado Mazonovo, muy cerca de la villa capitalina, tienes el mayor museo de molinos de España, que cuenta ni más ni menos que con 19, además de con una rudimentaria central hidraúlica…</p>
    <p>El Museo de los Molinos - donde Carlos se desvive por atender a sus visitantes - es un espacio vivo, con un itinerario ameno, que te dejará alucinado con la capacidad humana para aprovechar al máximo el agua como fuente de energía y como fuerza motriz, algo que en Taramundi fue y es el pan nuestro de cada día. Además, podrás manipular tú mismo los molinos manuales para ver cómo funcionan.</p>
    
      </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.7620670221036!2d-7.111154734550057!3d43.36108732913232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd319d937d76c495%3A0x622507e5305df11a!2s33775%20Taramundi%2C%20Asturias!5e0!3m2!1ses!2ses!4v1608823223127!5m2!1ses!2ses" width="340" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      
      
      
      </div>  
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>