<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
         
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos de Montaña / Alcalá del Júcar
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

    <h2 class="marginBottom30">Alcalá del Júcar , un pueblo de leyenda</h2>
    <img src="../../../imagenes/montaña/p9.jpg" alt="">
       
   <p>Alcalá del Júcar se encuentra situado en el noroeste de la provincia de Albacete, englobado dentro de la comarca de La Manchuela. Fue declarado conjunto Histórico-Artístico en 1982. En 1986 le fue concedido el tercer premio, después de la Torre Eiffel y la Gran Mezquita de Estambul, a la mejor iluminación artística. El 30 de mayo de 1998 en Villanueva de los Infantes, el Ayuntamiento recibió de la Junta de Comunidades de Castilla La Mancha, el “Premio de Turismo 1998”, por su labor en la promoción y desarrollo turístico.</p>
         <h4 class="marginTop20" >Historia</h4>
         <p>En sus orígenes, Alcalá fue una aldea de Jorquera, hasta que el 18 de abril de 1364, el rey de Castilla Pedro I el cruel firmó un documento en el Grao de Valencia que concedió a Alcalá del Júcar el villazgo y la segregación con respecto a Jorquera, con asignación del Fuero de las Leyes, ordenamiento concejil y otros derechos. Perteneció al Reino de Murcia, dentro de la Corona de Castilla hasta la nueva configuración territorial de España de 1833. En el siglo XIV Alcalá obtuvo el título de villa. Perteneció al señorío de Villena hasta el siglo XIX.</p>
       
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
        <p>Alcalá no es lugar de grandes monumentos ni de edificios singulares. Todo lo contrario. Su encanto radica en lo sencillo, en lo popular, y en su estampa levantada sobre la hoz del Júcar, en uno de los rincones más puros de la comarca de la Manchuela.</p>
   <p>Por un puente (siglo XVIII) sobre el Júcar se entra en la población. El curioso viajero merodeador encontrará casa cueva abiertas sobre el lecho del Júcar (algas habilitadas para turismo rural), entre ellas la cueva fortifica de Garadén, cercana a la fortaleza.</p>

<p>Alcalá del Júcar es uno de los pueblos más pintorescos de Albacete, de ineludible visita para los amantes del turismo rural, de aventura o de quien quiera dejarse impresionar por el riquísimo patrimonio de un municipio único,  declarado Conjunto Histórico-Artístico por Real Decreto de 1982.</p>
<h5>Ermita y castillo</h5>
<p>El viajero puede conocer también la ermita de San Lorenzo o el castillo. La primera, de estilo neoclásico, se sitúa a tres kilómetros del núcleo de Alcalá del Júcar en dirección a La Recueja. Por su parte, la fortaleza es lo primero que llama la atención al viajero nada más llegar a Alcalá, ya que está edificada en la ladera de la montaña al resguardo de un imponente torreón de defensa de la época de los almohades, construido entre los siglo XII y XIII. En su día fue construida para ser una fortaleza infranqueable. Sin embargo Alfonso VIII de Castilla, en el año 1213, la recuperó definitivamente para su corona.</p>
    


</div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98958.5252724845!2d-1.4686684653972741!3d39.18713353438038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66daf8a0c374c7%3A0x40340f3be4bcff0!2zQWxjYWzDoSBkZWwgSsO6Y2FyLCBBbGJhY2V0ZSwgRXNwYcOxYQ!5e0!3m2!1ses!2sgt!4v1604727822826!5m2!1ses!2sgt" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      </div>  
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>