<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
         
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos de Montaña / Nogueira de Ramuín
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

      <div class="container-pueblo"> 
    <h2 class="marginBottom30">Nogueira de Ramuín</h2>
    <img src="../../../imagenes/montaña/p6.jpg" alt="">
       
   <p>Nogueira de Ramuín es un municipio de la provincia de Orense en Galicia, España. Pertenece a la comarca de Ribeira Sacra. El municipio está formado por trece parroquias y tiene su capital en la población de Luintra. Tiene una extensión de 98,3 km² y una población de 2.381 habitantes según el censo del año 2011.</p>
         <h4 class="marginTop20" >Historia</h4>
         <p>	
          Los  estudios  arqueológicos realizados confirman la existencia  de antiguos asentamientos paleolíticos sobre las terrazas del Miño y del Sil, así como la presencia de varios castros en la  margen  derecha de río Loña y en las riberas del Miño.   No obstante,  y  a  pesar  de  la prematura irrupción de civilizaciones prehistóricas en este municipio, habrá que esperar a la construcción,  en  el año 909,  del  monasterio benedictino de San Esteban de Ribas do Sil, quien  marcará  el devenir histórico mejor conocido  de Nogueira de  Ramuín.  En efecto,  el cenobio  de  San Esteban,  pronto se convirtió en el  centro  de  toda  la  llamada  "Rivoyra Sacrata", al extender su influencia por todas las parroquias del municipio, excepto a las de Campo y  Faramentaos,  que estaban sometidas  a la jurisdicción del señorío del duque de Medina de Rioseco.</p>
         
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
        
<h5>Cañones del Sil</h5>

<p>Visité los Cañones del Sil a principios de Octubre. Para mi la mejor fecha.. Ya que coincide con la vendimia , y se ve desde el catamarán como se realiza y claro está con la estación que mas me gusta, el otoño, el colorido que toman los bosques, y mas en las riberas del Sil, donde conviven perfectamente en un microclima, arboles típicamente mediterráneos como los naranjos, y los olivos, con otros autóctonos como los castaños</p>
<h5>Viñedos del Sil</h5>
<p>La Ribera Sacra es un lugar perfecto para el que quiera desconectar y relajarse. Para el que le guste estar en contacto con la naturaleza y apreciar la increíble belleza de los cañones del Sil y por supuesto para el que le guste la buena comida y el buen vino. Se pueden hacer muchas actividades al aire libre o bien tomárselo con calma y dejarse llevar donde la carretera te lleve.</p>
<h5>Claustro de los Obispos</h5>
<p>Este claustro, perteneciente al Monasterio de Santo Estevo se encuentra situado entre el Claustro de la portería y la Iglesia, con los que se comunica. Tiene un estilo totalmente diferente a los demás, ya que fue construido en dos etapas: El cuerpo inferior es románico del siglo XIII, y el superior es gótico del XVI, lo que se puede apreciar en los remates de crestería y en los contrafuertes.

  Los arcos están sustentados por dobles columnas con diferente decoración en sus capiteles. También es conocido como claustro Reglar o de las Procesiones, y es el más antiguo del monasterio.</p>
<h5>La ruta de los monasterios</h5>
<p>La Ribera Sagrada debe su nombre al conjunto de monasterios que, por alguna secreta razón, se agruparon en estas soledades elegidas por las órdenes religiosas para establecerse. Desde El monasterio de Santa Cristina, uno de los más hermosos del lugar, puedes subir hasta el alto de Rodicio, cruzando un tupido bosque con unas vistas espectaculares sobre el río.
  También podrás rememorar uno de los caminos que utilizaban los frailes siguiendo la senda que une este monasterio con el de San Esteban y que pasa por aldeitas como Loureiro, Viloar o Couto.</p>

   
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94276.89505447558!2d-7.77535710949272!3d42.40318753320174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3003094d4c892d%3A0x90cee3fbcff86678!2sNogueira%20de%20Ramu%C3%ADn%2C%20Ourense!5e0!3m2!1ses!2ses!4v1608823277405!5m2!1ses!2ses" width="340" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      </div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>