<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Escondidos / Majalrayo 
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Majalrayo, joyas de pizarra</h2>
      <img src="../../../imagenes/escondidos/Majalrayo-p8.png" alt="">
        
      <p>
        Majalrayo se hizo famoso en los años noventa del pasado siglo por el anuncio de un todoterreno que podía llegar hasta lugares donde hacía mucho tiempo que nadie llegaba. Hoy está en el centro una ruta turística, la de los Pueblos Negros de Guadalajara, pero sigue siendo complicado llegar hasta allí, igual que a las vecinas localidades de Campillo de Ranas o Valverde de los Arroyos. Si se evitan los fines de semana, las carreteras del norte de Guadalajara son perfectas para sentirnos aventureros y dejarnos sorprender por el paisaje. Majalrayo está a los pies del Pico Ocejón, en la sierra de Ayllón, y, como el resto de los pueblos de la comarca, es un conjunto de casas rurales dominadas por la pizarra que envuelve a los pueblos en una atmósfera entre negra y ocre.
        </p>
        <p>
          En las últimas décadas, estos pueblos casi abandonados se han volcado en el turismo rural y en ellos han echado raíces restaurantes y hoteles. Alguno de estos municipios estaba totalmente abandonado, como Umbralejo, que se reconstruyó gracias a un programa de recuperación de pueblos abandonados y que hoy sirve de “pueblo-granja-escuela” para niños y jóvenes. Con un aspecto más real nos reciben en Valverde de los Arroyos, de donde parte la popular excursión para subir al Ocejón y las Chorreras de Despeñalagua; Majalrayo, que conserva mejor que otros el sabor a pueblo real; o en Campillo de Ranas, que presume de ser el primero de España que celebró una boda gay. Y hay otros, como Campillejo, el Espinar, Roblelacasa, Robleluengo, Matallana, La Vereda…        
        </p>
        
        <h4 class="marginTop20" >Historia</h4>
        
        <p>
          Para conocer el origen de Majaelrayo debemos remontarnos a los años después de la Reconquista de los árabes, cuando los ganaderos de Ayllón comenzaron a construir majadas para poder refugiarse mientras su ganado se alimentaba de los buenos y abundantes pastos de la sierra del Ocejón (siglo XV). Por esta época cayó un rayo en esta zona, por lo que comenzó a denominarse Majada del Rayo.  
        </p>

        <p>
          En tiempos anteriores ha sido un pueblo con mucha ganadería y que al ser parte de la comunidad de tierra de Ayllón, esta disponía de bastante extensión de terreno y buenos pastos de verano para mantenerse. En siglos pasados los ganaderos de Majaelrayo, han pertenecido al Concejo de Mesta, han arrendado pastos en dehesas extremeñas o lindantes donde han llevado la mayoría de sus rebaños, sobre todo de ovejas merinas, desde el 20 de Octubre al 20 de Mayo aproximadamente.  
        </p>
        
        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
          La iglesia, aunque de construcción moderna, se hizo con la intención de integrarse en el entorno y no desentona del conjunto. Los baños de Robledo tuvieron durante años un gran prestigio por sus aguas curativas. Tienen interés también sus fuentes de deliciosas aguas: la Fuente del Caño del siglo XVIII se asocia con los años de mayor esplendor; las otras dos, la de Fuente Buena y la de la Fuente de las Cabezadas, continúan calmando la sed de los huertos y de los habitantes que acuden a ellas a recoger sus aguas.
        </p>
        <p>
        Pero sin duda Majalrayo ofrece entre sus mayores tesoros el deleite del camino y la naturaleza. La ascensión a los picos que lo circundan, la excursión del río Jaramilla o la ruta al Arroyo y Cascada de la Matilla, ofrecen al senderista excursiones de distinta duración, dificultad y paisaje donde poder elegir o suceder.
        </p>

        <p>
          El primer fin de semana de septiembre se celebran las Fiestas del Santo Niño, declaradas de interés turístico regional: una espectacular tradición en la que los danzantes y la botarga acaparan todo el protagonismo.
        </p>

       </div>

      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.0192213594173!2d-3.3037351343125003!3d41.1122712792903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd438e559bbb0e7b%3A0xa1076ddeb0295b81!2s19223%20Majaelrayo%2C%20Guadalajara!5e0!3m2!1ses!2ses!4v1609683067445!5m2!1ses!2ses"
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
               
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>  
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>