<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Escondidos / Masca
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class=" contenedor-pueblo marginTop40">
    

      <div class="container-pueblo marginBottom50"> 
    <h2 class="marginBottom30">Masca, un pueblo de altura en Tenerife</h2>
      <img src="../../../imagenes/escondidos/masca.jpg" alt="">
        
      <p>
        Ubicada en el hermoso parque tinerfeño del Teno, a casi 800 metros de altura, Masca es una encantadora localidad canaria que parece detenida en el tiempo.
        </p>
        <p>
        La isla canaria de Tenerife está repleta de bonitos pueblos costeros, grandes playas, lugares históricos y sorprendentes entornos naturales. Y luego está Masca, un destino tinerfeño que lo tiene todo. Lo encontraremos entre los términos municipales de Guía de Isora y Santiago del Teide, y está considerado Bien de Interés Cultural con categoría de Conjunto Histórico.
        </p>
        
        <p>
        Se trata de un enclave de montaña totalmente diferente a lo que hemos vista hasta ahora en la isla, y que hasta no hace mucho tiempo no tenía acceso por carretera, y tampoco electricidad. La única vía de comunicación era el Camino de los Guanches. Ese es el motivo de que se halla conservado tal como estaba hace mucho tiempo.
        </p>
        <p>
        Hoy en día existe una carretera que llega hasta este peculiar pueblo, y a la que se puede acceder desde Santiago del Teide o desde Buenavista del Norte, municipio al que pertenece. Pero hay que tener en cuenta que es una vía muy estrecha y llena de curvas, y que en verano cuenta con el tráfico habitual de turistas, por lo que es necesario conducir con mucha precaución.
        </p>
        
        <h4 class="marginTop20" >Historia</h4>
        
        <p>
        Cuenta la leyenda que la historia de este pueblo está íntimamente ligada a los piratas los cuales se escondían en un roque utilizado como santuario aborigen guanche en los que no lejos del caserío se han encontrado restos arqueológicos con grabados rupestres que dan fe de las ofrendas que realizaban los guanches a las entidades divinas que veneraban, siendo de esta manera un lugar sagrado y que es percibido rápidamente por aquellos que se adentran en los senderos que acercan a este paraje, y en el que por su carácter de sitio apartado y solitario los piratas se mantenían ocultos ya que no podían ser vistos desde el mar y donde al parecer mantenían sus tesoros, reparaban sus naves y descansaban entre sus campañas marítimas.
        </p>
        
        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
        Tras alcanzar por una sinuosa carretera una altura superior a los 700 metros, llegaremos al pueblo de Masca. Lo primero que nos llamará la atención es la pequeña sucesión de casas alineadas sobre las cumbres de la montaña, como desafiando al abismo. Fueron construidas siguiendo la línea de la arquitectura tradicional de Canarias, en mampostería y madera, y buscando la total integración con el entorno.
        </p>
        <p>
        Aquí se encuentran los barrancos más hondos de la isla, y lo podremos comprobar desde el Mirador de Cherfe, que está situado en la carretera que llega desde Santiago del Teide. Desde aquí contemplaremos las mejores vistas de Masca y del Parque Rural del Teno.
        </p>
        <p>
        En este pequeño pueblo podremos visitar la antigua Casa de los Avinculados, que se halla en el llamado Caserío de Piedra; una iglesia del siglo XVIII bajo la advocación de la Inmaculada Concepción, e incluso un museo y un centro de artesanía. Muy cerca hay un roque que fue santuario aborigen, y en el que se conserva un interesante conjunto arqueológico con grabados rupestres. En los alrededores hay otros encantadores caseríos, como El Palmar, Teno Alto o Las Portelas.
        </p>
        <p>
        El senderismo es una de las principales actividades que se pueden realizar en Masca. Hay un buen número de rutas de montaña, y una de ellas lleva hasta una playa que tiene su propia leyenda. Cuenta que aquí antiguamente anclaban sus barcos los piratas, ya que su complicado acceso a través de los acantilados de los Gigantes hacía difícil que los encontraran.
        </p>


       </div>

      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1756.398268717387!2d-16.841851791870216!3d28.304486895637094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc6a8bc99a78823b%3A0xa0340f674cfb310!2s38489%20Masca%2C%20Santa%20Cruz%20de%20Tenerife!5e0!3m2!1ses!2ses!4v1608495518498!5m2!1ses!2ses" 
        
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
               
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>  
      
      </div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>