<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Escondidos / Puebla de la Sierra
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40 marginBottom30">
    

    <h2 class="marginBottom30">Puebla de la Sierra (Sierra Norte de Madrid) </h2>
      <img src="../../../imagenes/escondidos/puebla-p5.png" alt="">
        
      <p>
        El término municipal de Puebla de la Sierra se encuentra enclavado en un valle encajonado por el que discurre el río Puebla dentro de la Sierra del Rincón, catalogada por la UNESCO como Reserva de la Biosfera. El paisaje está dominado por masas boscosas con grandes extensiones de pinares y amplias zonas de robledales autóctonos, componiéndose el monte bajo de jarales, espliego, brezo, carrascas y rebollos. La riqueza zoológica es considerable, con corzos, jabalíes, zorros, palomas, perdices rojas y otras especies de gran valor cinegético, estando integrada la totalidad del término en la Reserva Nacional de Caza de Sonsaz.
      </p>
      
        
        <h4 class="marginTop20" >Historia</h4>
        
        <p>
          Sus orígenes comienzan en el siglo XII cuando, por motivos defensivos, se construyeron varios asentamientos en la zona de Buitrago. Después de la Reconquista se repobló erigiendo en ella edificios de piedra oscura rematador con detalles de madera de los cuales permanecen algunos.
        </p>
        <p>
          La población se llamó Puebla de la Mujer Muerta hasta los años cuarenta en que cambió a su nombre actual por expreso deseo del gobernador civil de la provincia, D. Carlos Ruiz. El nombre original hacía referencia a los Cerros a cuyo pie se asienta la villa y cuya silueta recuerda la de una mujer yacente.        
        </p>
        
        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
          Su particular microclima crea unas condiciones que propician una de las mayores diversidades de flora y fauna de la Comunidad. En el área recreativa de los Avellanos podrás disfrutar actividades en contacto con la naturaleza.
        </p>
        <p>
          Esta riqueza natural se puede contemplar mientras se camina por una de las cuatro sendas existentes, mientras se recorre en bicicleta o mientras se participa en alguna actividad de educación ambiental.
        </p>
        <p>
          Puebla de la Sierra forma parte de la Reserva de la Biosfera, cuyos ecosistemas tienen como objetivo demostrar una relación equilibrada entre los seres humanos y la biosfera contribuyendo a la conservación de los paisajes, los ecosistemas y la variación genética así como el desarrollo económico y humano sostenible desde los puntos de vista sociocultural y ecológico. Te recomendamos que reserves la visita en la página www.sierradelrincon.org para que no te lo pierdas.
        </p>
        <P>
          Fuera de la Reserva de la Biosfera, pero en plena Naturaleza, yo no me perdería el Valle de los Sueños. Se trata de un itinerario escultórico al aire libre, inaugurado en el año 2006 y compuesto, en estos momentos, por más de 30 obras cedidas por los artistas locales patrocinadores de la idea. Es un proyecto que pretende hacer de este paraje natural un entorno único, casi mágico.
        </P>
        <P>
          Si viajas en familia, podrás tomarte un descanso en el área Recreativa de los Avellanos en el que se realizan actividades relacionadas con la naturaleza.
        </P>
        <P>
          Pasea y sumérgete por el pueblo viendo edificios como los tinados, molinos, la fragua o la fuente vieja que servía de agua a los vecinos. Párate en la Iglesia de la Purísima Concepción y continúa a las afueras hasta la Ermita de Nuestra Señora de la Soledad para contemplar el encanto de este Rincón de Madrid.
        </P>

       </div>

      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.6160927668566!2d-3.4473769343152045!3d41.01177527930037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43ecec717ecf43%3A0x3e2ceb679bc1d107!2s28190%20Puebla%20de%20la%20Sierra%2C%20Madrid!5e0!3m2!1ses!2ses!4v1609682858143!5m2!1ses!2ses"       
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
               
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>  
      
      </div>  
    
 
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>