<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos escondidos / Orbaneja del Castillo
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class=" contenedor-pueblo marginTop40">
    

      <div class="container-pueblo marginBottom50"> 
    <h2 class="marginBottom30">Orbaneja del Castillo: uno de los pueblos más bonitos de Burgos</h2>
      <img src="../../../imagenes/escondidos/Orbaneja-del-Castillo_pp.jpg" alt="">
        
        <p>
            Orbaneja del Castillo es un pueblo de Burgos que toca casi Cantabria y se considera uno de los más bonitos de la provincia. 
        </p>

        <p>
        Las fachadas de las casas aún conservan su esencia medieval, por lo que te aconsejamos que pasees por las calles, tan llenas de encanto, del casco antiguo y disfrutes de todos los detalles que esconden.
        </p>

        <p>
        En lo más alto del pueblo nace un arroyo que lo cruza y desemboca en el río Ebro, pero por el camino el agua hace varios saltos y forma una cascada de unos 25 metros. Una auténtica maravilla de la naturaleza. Y esto no es todo, justo antes de llegar al río Ebro se formaron unas pozas que tienen un color azul turquesa precioso. De este lugar puedes hacer fotos increíbles, pero no podrás bañarte porque está prohibido. Una lástima.
        </p>   




        
        <h4 class="marginTop20" >Historia</h4>

        <p>
            La zona en la que se encuentra este precioso pueblo debió pertenecer en tiempos prerromanos al sistema castral controlado desde el impresionante oppidum cántabro de Gredilla de Sedano, comparable a los de Monte Bernorio o Cildá en extensión pero pendiente de excavaciones, como todos los castros de Burgos. Tras las guerras cántabras, el centro político se desplazó a Castro Siero. En su “castro” quedan vestigios de una antigua muralla con restos supuestamente romanos y visigodos.
        </p>
   
        <h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  

        <h5>La cascada</h5>
        <p>
        Sí en mayúsculas. Es que no puede ser más idílica. Es la primera imagen con la que te vas a encontrar nada más aparcar el coche. Esas casitas de piedra tan monas atravesadas por un torrente de agua en forma de escalera de unos 25 metros de altura.
        </p>

        <p>
        Estamos ante un tipo de cascada muy especial. Los caprichos de la naturaleza son así. El terreno tobáceo ha cedido ante la fuerza del río creando pequeñas terrazas de piedra. Ni al mejor escultor le habría salido tan bonito.
        </p>

        <p>
        Lo mejor de la cascada de Orbaneja es que la podrás encontrar con mayor o menor caudal dependiendo de la época del año, pero siempre lleva agua. Como os dije al inicio, este pequeño río lucha por hacerse inmortal y va camino de conseguirlo.
        </p>

        <h5>Las pozas</h5> 
        <p>
        Siguiendo el curso del río, justo después de la cascada y antes de morir en el Ebro, nos encontramos con otra maravillosa sorpresa. El agua ha creado numerosas pozas de un color azul turquesa súper intenso. El baño es muy tentador pero hace tiempo que está estrictamente prohibido. Se puede recorrer el terreno en busca de la mejor foto hasta el mismo punto donde el arroyo se funde con el majestuoso río Ebro.
        </p>

        <h5>Conjunto arquitectónico</h5>
        <p> 
        Estamos ante una localidad con apenas 50 habitantes censados. Este dato os puede dar una idea real del verdadero tamaño de la aldea declarada Conjunto Histórico. Pero en Orbaneja del Castillo no importa el tamaño. El pueblo, encajonado entre las paredes del cañón del río Ebro, tuvo su origen en la Edad Media. Dato muy fácil de adivinar con un simple vistazo a la arquitectura popular que lucen las viviendas.
        </p>
        <p>
        Las casas, de marcado estilo montañés, se suceden en estrechas y empinadas callejuelas. Por momentos, parece que estemos en un pueblecito cántabro, con las típicas balconadas de madera y las flores engalanando las fachadas. Y es que la cercanía con la frontera cántabra se nota mucho.
        </p> 

       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2925.8216872103794!2d-3.795638184528604!3d42.83438027915793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd48ca51eec0f81d%3A0x9598ba8c29071bfc!2s09145%20Orbaneja%20del%20Castillo%2C%20Burgos!5e0!3m2!1ses!2ses!4v1608470233783!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>  

        g



  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>