<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>


  <!-- HEADER-->
  
  <div class=header>
    <a href="../index.html"> <img src="../imagenes/logo.png" alt=""></a>
   
     <!-- MENU DESPLEGABLE -->

     <ul class="menu marginTop40">
      <li><a href="../index.html">Inicio</a></li>
        <li><a href="../templates/somos.html">Quiénes somos </a></li>
        <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
          <div class="dropdown-content">
  
            <ul class="dropMenu">
              <li><a href="../templates/categorias.html">Para visitar</a></li>
              <li><a href="../templates/categorias.html">Para vivir </a></li>
              <li><a href="../templates/categorias.html">Cerca del mar</a></li>
              <li><a href="../templates/categorias.html">En la montaña</a></li>
              <li><a href="../templates/categorias.html">Escondidos</a></li>
              <li><a href="../templates/categorias.html">Medievales</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">Galería</a></li>
        <li><a href="../templates/cuentanos.html">Cuéntanos</a></li>
   
      </ul>

  </div>


<div class="tituloSec">
  <div class="tituloSecText">
    Categorías / Pueblos costeros 
  </div>
</div>



  <div class="container">
      <div class="container-siguenos marginTop40">

        <img class="imagen-logo"src="../imagenes/logo.png" alt="">
        <h1 >SIGUENOS </h1>
        <h2 class="marginTop10">EN NUESTRAS REDES SOCIALES</h2>
        <div class="siguenos-imagenes">
            <a href=""><img src="../imagenes/twitter.png" alt=""></a>
        <a href=""><img src="../imagenes/face.jpg" alt=""></a>
        <a href=""><img src="../imagenes/insta.png" alt=""></a>
        </div>
        
      </div>

      <div class="container-contacto">
        <form action="" method="post" class="marginTop40">
            <h2>Contacta con nosotros</h2>
            <label for="nombre">Nombre
              <span class="obligatorio">*</span>
            </label>
            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
        
        
          
            <label for="email">Email*
            </label>
            <input type="text" name="email" id="email" placeholder="Escribe tu email">
        
        
        
        
            <label for="mensaje" class="colocar_mensaje">Mensaje
              <span class="obligatorio">*</span>
            </label>
        
            <textarea name="mensaje" id="mensaje" required="obligatorio"
              placeholder="Deja aquí tu comentario..."></textarea>


        <p><input type="file" name="" id=""></p>
            <button type="submit" name="enviar_formulario" id="enviar" class="button marginTop40">Enviar</button>
          </form>
        


      </div>






    
    </div>

  <footer>
    <img src="../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>