


  <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>
  

  <!-- HEADER-->
  
  <div class=header>
    <a href="../index.html"> <img src="../imagenes/logo.png" alt=""></a>
   
     <!-- MENU DESPLEGABLE -->

     <ul class="menu marginTop40">
      <li><a href="../index.html">Inicio</a></li>
        <li><a href="../templates/somos.html">Quiénes somos </a></li>
        <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
          <div class="dropdown-content">
  
            <ul class="dropMenu">
             
              <li><a href="../templates/categoria1.html">Cerca del mar</a></li>
              <li><a href="../templates/categoria2.html">En la montaña</a></li>
              <li><a href="../templates/categoria3.html">Escondidos</a></li>
              <li><a href="../templates/categoria4.html">Medievales</a></li>
            </ul>
          </div>
        </li>
        <li><a href="../templates/galeria.html">Galería</a></li>  
         <li><a href="#">Cuéntanos</a></li>
        <li><a href="../templates/contacto.html">Contacto</a></li>
   
      </ul>

  </div>


   <!-- Título de la sección-->

   <div class="tituloSec">
    <div class="tituloSecText">
      Categorías / Pueblos costeros 
    </div>
  </div>



  <div class="container">

    <div class=" tAlignCenter marginTop40">
    <h1> ¿Vives en un pueblo chulo?</h1>
    <h3>¡Comparte tu experiencia y cuéntanos por qué el pueblo donde vives es tan especial!</h3>
        
        <form action="" method="post" class="marginTop40">
            <label for="nombre">Nombre
              <span class="obligatorio">*</span>
            </label>
            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
        
        
          
            <label for="telefone">Nombre de tu pueblo
            </label>
            <input type="text" name="telef" id="telefono" placeholder="Escribe el nombre de tu pueblo">
        
        
        
        
            <label for="mensaje" class="colocar_mensaje">Mensaje
              <span class="obligatorio">*</span>
            </label>
        
            <textarea name="mensaje" id="mensaje" required="obligatorio"
              placeholder="Deja aquí tu comentario..."></textarea>


        <p><input type="file" name="" id=""></p>
            <button type="submit" name="enviar_formulario" id="enviar" class="button marginTop40">Enviar</button>
          </form>
        
            </div>
            




  </div>

  <footer>
    <img src="../imagenes/logo3.png" alt="">
  </footer>

    
    
</body>

</html>