<div class="galeria">
    <input type="radio" name="navegacion" id="_1" checked>
    <input type="radio" name="navegacion" id="_2">
    <input type="radio" name="navegacion" id="_3">
    <input type="radio" name="navegacion" id="_4"> 
    <img src="https://www.fillmurray.com/260/300" width="260" height="300" alt="Galeria CSS 1" />
    <img src="https://www.placecage.com/c/260/300" width="260" height="300" alt="Galeria CSS 2"  />
    <img src="http://placekitten.com/260/300" width="260" height="300" alt="Galeria CSS 3" />
    <img src="http://www.stevensegallery.com/260/300" width="260" height="300" alt="Galeria CSS 4" />
  </div>