<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>


 
<!-- HEADER-->
  
<div class=header>
  <a href="../index.html"> <img src="../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../index.html">Inicio</a></li>
    <li><a href="#">Quiénes somos</a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
           
            <li><a href="../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->


     <div class="tituloSec">
      <div class="tituloSecText">
        Quiénes somos
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-somos marginTop40 marginBottom50">

      <h1>Apasionados por los pueblos </h1>

     <p>La vida estresante de las grandes ciudades y la crisis del COVID-19 han hecho surgir un creciente interés por los pueblos, sobre todo aquellos con encanto y rodeados de naturaleza. Ahora que muchas personas pueden teletrabajar, la posibilidad de cambiar un piso en medio de la ciudad por una residencia más espaciosa, económica y en mitad del campo es una opción muy atractiva que cada vez gana más adeptos. </p>
      <img src="../imagenes/somos1.jpg" alt="">
<p>Debido a ese creciente interés, surge la idea de crear una aplicación web donde los interesados en visitar o instalarse a vivir en un  pueblo puedan encontrar información relevante, organizada y actualizada sobre las mejores opciones que existen en una región determinada. Por otra parte, quienes vivan ya en un pueblo y estén interesados en darlo a conocer y promocionarlo podrán publicar información sobre los atractivos que ofrece, sus características, viviendas o locales disponibles. </p>
    
      <img src="../imagenes/somos2.jpg" alt="">

    </div>
  </div>


  <footer>
    <img src="../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>