<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
         
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Lajes do Pico
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

      <div class="container-pueblo"> 
    <h2 class="marginBottom30">Lajes do Pico , villa portuguesa</h2>
      <img src="../../../imagenes/cerca_mar/p7.png" alt="">
       
   <p>Lajes do Pico es una villa portuguesa en la isla del Pico, Región Autónoma de las Azores, con cerca de 1.800 habitantes. Es sede de un municipio con 154,35 km² de superficie y 5.041 habitantes, subdividido en 6 freguesias</p>
         <h4 class="marginTop20" >Historia</h4>
         
       <p> La villa fue, durante años, centro de actividades balleneras siendo actualmente posible visitar el Museo de los Balleneros y la Fábrica de la Ballena. La villa es también conocida por sus actividades turísticas relacionadas con la observación de cetáceos. A finales de agosto se realizan las fiestas mayores del municipio, la Semana de los Balleneros. El único ejemplo de arquitectura militar de la isla, el Fuerte de Santa Catarina, fue recuperado y funciona actualmente como el Puesto de Turismo de la Villa.</p>
   
            
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
<h5> Museu dos Baleeiros </h5>
<p>En la localidad de Lajes do Pico, en tres antiguas casas donde los balleneros guardaban sus botes y en una tienda de herrero, un conjunto datado del s. XIX que aún conserva sus características originales, ahora puede visitar el Museo de los Balleneros.

  En el Museo se puede ver una colección de pertrechos utilizados en la caza del cachalote, así como piezas en hueso y dientes de ballena esculpidos y grabados, una expresión artística popular también denominada arte del “scrimshaw”.</p>


<h5> Parque Florestal das Sete Fontes</h5>
<p>Parque Forestal das Sete Fuentes es uno de los más importantes de la isla de São Jorge y uno de los mayores, con 12 hectáreas. Está densamente arborizado y recorrido por anchas calles y numerosas veredas que conducen a espacios de ocio como el parque infantil o un merendero. Por el camino, lagos, riberas y varios manantiales hacen los encantos de los amantes de la naturaleza.
</p>
<p>En el interior del Parque, destaca la Capilla de São João Baptista, un Monumento a los Emigrantes y un área de exposiciones de animales con gamos, cerdos de Vietnam, conejos y periquitos, entre otros.
</p>

<h5>Ponta do Admoiro</h5>
<p>Ponta do Admoiro (Moir's Point) es uno de esos lugares donde un sendero preparado de rocas te lleva más allá de la inmediata costa, pasando el rocas de lava, hasta llegar a la parte más bordes del paisaje. Aquí solo con el mar en una zona de piscinas naturales y los sonidos del océano.</p>




   
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98958.5252724845!2d-1.4686684653972741!3d39.18713353438038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66daf8a0c374c7%3A0x40340f3be4bcff0!2zQWxjYWzDoSBkZWwgSsO6Y2FyLCBBbGJhY2V0ZSwgRXNwYcOxYQ!5e0!3m2!1ses!2sgt!4v1604727822826!5m2!1ses!2sgt" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      
      </div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>