<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Pollença
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

      <div class="container-pueblo"> 
    <h2 class="marginBottom30"> Pollença , un lugar animado y con mucho encanto</h2>
      <img src="../../../imagenes/cerca_mar/p9.png" alt="">
       
   <p>Pollensa​ es una localidad y municipio español situado en el extremo septentrional de Mallorca, en las Islas Baleares. A orillas del mar Mediterráneo, este municipio limita con los de Escorca, Campanet, La Puebla y Alcudia. En frente, por el este, se encuentra el municipio de Ciudadela, en la isla de Menorca.</p>
         <h4 class="marginTop20" >Historia</h4>
     <p>Rica en historia y poblada por artistas durante la mitad del pasado siglo, Pollença destaca especialmente entre los pueblos marineros de la isla de Mallorca. Si eres aficionado a la ornitología, ya sólo en el parque de la Gola pueden observarse más de 65 especies diferentes de aves, y si te gusta caminar, su privilegiado entorno ofrece múltiples posibilidades para los amantes de la naturaleza y el aire libre.</p>
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  

<h5>La Plaza Mayor</h5>
<p>Es la principal plaza del pueblo. Los domingos por la mañana su mercado es el protagonista, con paradas que atraen la curiosidad de muchos turistas y residentes. Es un sitio ideal para detenerse a tomar un buen café en uno de los muchos locales que tendrás para elegir.</p>

<h5>El puente Romano</h5>
<p>Es una muestra de la ocupación romana en Mallorca. Tiene 2 grandes arcos no homogéneos y uno central más pequeño. Se encuentra en el camí de Ternelles y puedes dar un agradable paseo por sus alrededores.</p>
<h5>El Calvari</h5>
<p>Un paseo de 365 escalones llegan a este lugar de preciosas vistas a los alrededores de Pollensa.</p>
<p>¡Pero no te asustes! Puedes evitar todos estos escalones y disfrutar de sus espectaculares vistas ya que hay una carretera por donde acceder en coche sin problemas. Al llegar a la cima, encontrarás un pequeño café al lado de la iglesia, por si necesitas reponer fuerzas.</p>

<h5>Convento de Santo Domingo de Pollensa</h5>

<p>Es una joya de la arquitectura a admirar. Dentro se encuentra el Museo de Pollensa, con obras de diversos artistas. Su acceso es gratuito.</p>
<h5>El Puig de María</h5>
<p>Es una montaña de 330 metros de altura, a la que llegamos por un camino de encinas que ofrecen sombra durante la mayoría del camino, de una hora aproximadamente de duración. En esta montaña encontramos el Santuario del Puig de María, que ofrece al visitante alojamiento en las antiguas habitaciones de las monjas y un restaurante. Desde aquí arriba tenemos unas vistas panorámicas espectaculares.</p>
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98958.5252724845!2d-1.4686684653972741!3d39.18713353438038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66daf8a0c374c7%3A0x40340f3be4bcff0!2zQWxjYWzDoSBkZWwgSsO6Y2FyLCBBbGJhY2V0ZSwgRXNwYcOxYQ!5e0!3m2!1ses!2sgt!4v1604727822826!5m2!1ses!2sgt" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      
      
      </div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>