<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Cadaqués
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

      <div class="container-pueblo"> 
    <h2 class="marginBottom30">Cadaqués, el pueblo más bonito de Cataluña</h2>
      <img src="../../../imagenes/cerca_mar/p5.jpg" alt="">
       
   <p>Situado en la parte oriental de la península del Cabo de Creus y considerado por muchos como la perla de la Costa Brava, su historia se remonta hace miles de años atrás, cuando los iberos eran los dueños y señores de estas tierras.</p>
         <h4 class="marginTop20" >Historia</h4>
       <p>El nombre de Cadaqués podría provenir de la evolución de Cabo de Quers (cabo de rocas) debido a la gran cantidad de rocas sobre todo en la zona de Cap de Creus. Otra opción es que Cadaqués deriva de "cadaquer" o "cadaquers" que significaría bosque o bosques de enebros (en catalán càdecs), arbusto que poblaba toda esta zona costera. Una tercera posibilidad es que Cadaqués sea el compuesto de dos palabras de origen griego, kata-kairus, que significaría puerto ocasional (ya que los griegos utilizaban este puerto en sus rutas comerciales o de expansión cuando el mal tiempo les obligaba a interrumpir la navegación).</p>
      
       <h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
       <h5>Un desayuno en el paseo Marítimo</h5>
       <p>Para iniciar el día con fuerzas e ir tomándole el pulso a este pueblo, merece la pena desayunar en el Chiringuito Marítim; es casi una tradición. El local, situado frente a la playa municipal, tiene mucha historia, concretamente se remonta a 1935. No es tanto por el desayuno en sí (las tapas están bien), sino porque allí, en cierta manera, se saborea el ritmo y la vida del pueblo.</p>
       
       
       <h5>Callejear hasta lo alto de la iglesia</h5>
       <p>El corazón de Cadaqués tiene su origen en la edad media. El plan más aconsejable es subir hasta la iglesia parroquial de Santa María (S XVI) y, desde lo alto, contemplar la esplendida vista de la bahía, del Es Cucurucuc (el islote). Al sur se vislumbra el faro de Cala Nans, hasta el que hay un agradable paseo de siete kilómetros.</p>
       
       <h5>Cala Sa Conca</h5>
       <p>No es una misión sencilla elegir un lugar donde darse un chapuzón, porque las posibilidades son infinitas. Unas playas más pequeñas, otras más grandes, unas con arena, otras con piedra, unas más lejos, otras más cerca... Pero hay que escoger. Sin duda Sa Conca es una excelente decisión: está cerca, es de arena y es muy cómoda. Y, lo más importante, el agua es transparente.</p>
       
       <h5>Caminata hasta el Cap de Creus</h5>
       <p>Puedes optar por una caminata, un paseo en coche, en moto, en bici, o cualquier otra opción que te apetezca y encaje mejor en tu plan. Probablemente, a los que puedan y quieran, les sea más agradecida recorrer esta ruta hasta el Cap de Creus a pie. El paisaje es una maravilla. La idea es ir por el camino antiguo de Cadaqués. Son unos 11 kilómetros a lo largo de la carretera y de varios senderos. Por este motivo, hay que calcular el tiempo que cada uno necesita.</p>
       
       <h5>Un buen pescado a la brasa</h5>
       <p>Una vez en el faro, hay que detenerse, sentarse y disfrutar del entorno. Es el punto más oriental de la península Ibérica. Desde allí, las vistas de la costa, del mar y el horizonte te abren el pensamiento y la inspiración. Es todo un placer comerse un pescado a la brasa con hierbas y patatas hervidas en la terraza del pequeño restaurante. Lo bordan. Por lo visto, hace años un inglés quedó hechizado por ese paisaje, compró una vieja casa de carabineros junto al faro y la transformó en un sencillo restaurante -donde se sirven arroces, cordero y buey al curry, aperitivos de todo tipo y lo dicho, un pescado a la brasa suculento - y un lugar de hospedaje (tiene tres habitaciones muy bien dispuestas).</p>
       








   
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98958.5252724845!2d-1.4686684653972741!3d39.18713353438038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66daf8a0c374c7%3A0x40340f3be4bcff0!2zQWxjYWzDoSBkZWwgSsO6Y2FyLCBBbGJhY2V0ZSwgRXNwYcOxYQ!5e0!3m2!1ses!2sgt!4v1604727822826!5m2!1ses!2sgt" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>