<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
          
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../../templates/galeria.html">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Mazarrón
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

    <h2 class="marginBottom30">Mazarrón, esencia mediterránea</h2>
      <img src="../../../imagenes/cerca_mar/p3.jpg" alt="">
       
   
        
         
      <p>Mazarrón, es un municipio que tiene una superficie de 318,7km², de los cuales 35 km son de costa. Está a 25 metros sobre el nivel del mar, cuenta con una población de unos 35.000 habitantes, perteneciente a la Región de Murcia, se localiza a 70 km de Murcia capital. Mazarrón ofrece al visitante patrimonio, senderismo, playas, calas, actividades acuáticas y una rica gastronomía.</p>
      
      <h4 class="marginTop20" >Historia</h4>
      <p>
          Territorio poblado desde tiempos antiquísimos, Mazarrón fue escenario de presencia humana en el Paleolítico medio y en el Paleolítico superior. Huellas de este ocupamiento son los yacimientos de la Cueva de la Permera, la Cueva de Los Tollos, de La Peñica y de Las Palomas. Restos procedentes de estos enclaves son diversos útiles como puntas de sílex, raspadores, raederas y percutores. También se han encontrado evidencias de los primeros enterramientos rituales de la zona.
      </p>
   

      
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  
<h5> Playa de la Isla</h5>

<p>La Playa de la Isla es la principal playa en Mazarrón y al margen de acudir a ella para disfrutar del sol, también puedes apuntarte a conocer de cerca el yacimiento de restos fenicios más antiguos del mundo, los únicos de su tipo aún parcialmente conservados.</p>



<h5>Ciudad Encantada de Bolnuevo</h5>
<p>La ciudad encantada de Bolnuevo, se conforma de una serie de rocas esculpidas por el viento y el poder del agua, modeladas a lo largo de los siglos para crear un entorno extremadamente evocador y casi mágico, como el nombre atribuido de manera acertada lugar.</p>

<h5>Dónde comer en Mazarrón</h5>
<p>Restaurante Viggos
  Restaurante Viggos es sin duda, uno de los mejores restaurantes en todo Mazarrón, ubicado en el puerto y con vistas al mar, este restaurante cuenta con algunos de los mejores platos de la cocina local, destacando los calamares al la andaluza, las almejas al ajillo y como no, el gazpacho.</p>

<h5>Rutas que hacer en Mazarrón</h5>
<p>La Sierra de la Almenara es quizás el principal atractivos para los amantes de la naturaleza que visitan Mazarrón. Aunque existen otras</p>

<p> la Ruta Cabezos Mineros de San Cristóbal y Los Perules que hacer para conocer una de las actividades más importantes en Mazarrón a lo largo de los años. Una ruta que dura unas tres horas y que apenas tiene dificultad ya que de un modo muy bien señalizado nos lleva a descubrir las zonas de trabajos mineros abandonadas.</p>
     
       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202253.31483330653!2d-1.4822699455408952!3d37.620793800482154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd64a24eebf0d0f9%3A0x8b6a7a61f83ee593!2sMazarr%C3%B3n%2C%20Murcia!5e0!3m2!1ses!2ses!4v1608485231846!5m2!1ses!2ses"         
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      
      
      </div>  

</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>