<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Llanes
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class="contenedor-pueblo marginTop40">
    

      <div class="container-pueblo"> 
    <h2 class="marginBottom30">Llanes </h2>
      <img src="../../../imagenes/cerca_mar/p8.png" alt="">
       
      <p> Llanes es una preciosa y turística localidad de la costa Este de Asturias. Situada 92 km al Oeste de Santander, y 103 Km al este de Oviedo.  Hoy la ciudad ofrece un casco histórico medieval, un animado centro con una notable oferta de tabernas y sidrerías, pequeñas pero animadas playas, un pintoresco puerto pesquero, una pequeña ría que se adentra en el pueblo,  y unas excelentes vistas al mar con los acantilados de la costa cantábrica. Una magnífica oferta que aúna la cultura y el disfrute de la naturaleza, sin olvidar el ocio y la buena mesa.</p>
         <h4 class="marginTop20" >Historia</h4>
    <p>De origen medieval, el Conjunto Histórico-Artístico de Llanes conserva La Torre y murallas del siglo XIII, así como una basílica del XIII-XV, y numerosos palacios y casonas que han impreso una personalidad única a uno de los pueblos más visitados de la costa asturiana. Su casco antiguo concentra buen número de tiendas y restaurantes en los que degustar la excepcional 
    </p>
<h4 class="marginTop20 marginBottom30" >¿Qué ver y qué hacer? </h4>  

<h5>Playa de Guadamía
</h5>
<p>Situado al lado de los Bufones de Pría, de los que hablamos más adelante, se ubica la Playa de Guadamía. Se trata de una playa situado en la ría del pequeño río de Guadamía. Lo impresionante y único de esta playa es que está ubicado entre acantilados, con una larga playa en marea baja, y un gran entrante de agua en marea alta… Esta playa también está entre nuestras favoritas de Asturias.</p>
<h5>Playas para perros en Llanes</h5>
<p>Como ya hemos comentado en nuestra entrada de las mejores playas para perros de Asturias, en Llanes tenemos varias playas en las que la gente suele acudir con su perro. Eso sí en Llanes ninguna es oficial, simplemente no cuentan con servicio de socorrismo, y la entrada con perros está bien vista… Las playas que admiten perros son: Playa Torimbia, Playa San Martín, Playa de Guadamía y la playa de Cubireju. Te explicamos como llegar a estas playas con tu mascota en la entrada de las playas para perros de Asturias.</p>
  <h5>Museo de Oriente de Asturias</h5>
        <p>Situado a 4 kilómetros de Llanes, en la localidad de Porrúa, se encuentra el museo etnográfico del Oriente de Asturias. Se trata de un museo que intenta recoger y mostrar al visitante el estilo de vida e historia del pueblo de esta parte de Asturias.</p>
  <h5>El Camín Encantau</h5>
<p>Se trata de una bonita ruta de senderismo que recorre parte de la mitología asturiana a través de la escultura. Durante la ruta verás representaciones de el Nuberu, Pataricu, Hombre del Sacu…</p>
<p>Se trata de una sencilla ruta de unos 9 kilometros de longitud con tan solo 250 metros de desnivel (que para ser Asturias, es muy plano). La ruta discurre por caminos en buen estado, por lo que es accesible para casi todo el mundo.</p>

       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98958.5252724845!2d-1.4686684653972741!3d39.18713353438038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd66daf8a0c374c7%3A0x40340f3be4bcff0!2zQWxjYWzDoSBkZWwgSsO6Y2FyLCBBbGJhY2V0ZSwgRXNwYcOxYQ!5e0!3m2!1ses!2sgt!4v1604727822826!5m2!1ses!2sgt" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      
      
      
      
      </div>  
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>