<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="../../../css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" type="image/png" href="../../../imagenes/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

<!-- HEADER-->
  
<div class=header>
  <a href="../../../index.html"> <img src="../../../imagenes/logo.png" alt=""></a>
 
   <!-- MENU DESPLEGABLE -->

   <ul class="menu marginTop40">
    <li><a href="../../../index.html">Inicio</a></li>
      <li><a href="../../../templates/somos.html">Quiénes somos </a></li>
      <li class="dropdown"><a href="">Busco pueblo<i class="material-icons">keyboard_arrow_right</i></a>
        <div class="dropdown-content">

          <ul class="dropMenu">
        
            <li><a href="../../../templates/categoria1.html">Cerca del mar</a></li>
            <li><a href="../../../templates/categoria2.html">En la montaña</a></li>
            <li><a href="../../../templates/categoria3.html">Escondidos</a></li>
            <li><a href="../../../templates/categoria4.html">Medievales</a></li>
          </ul>
        </div>
      </li>
      <li><a href="">Galería</a></li>
      <li><a href="../../../templates/cuentanos.html">Cuéntanos</a></li>
      <li><a href="../../../templates/contacto.html">Contacto</a></li>
 
    </ul>

</div>

     <!-- Título de la sección-->

     <div class="tituloSec">
      <div class="tituloSecText">
        Categorías / Pueblos costeros / Fornell
      </div>
    </div>

   
  <!-- Contenido-->


  <div class="container">

    <div class=" contenedor-pueblo marginTop40">
    

      <div class="container-pueblo marginBottom50"> 
    <h2 class="marginBottom30">Fornell , pueblo de pescadores en Mallorca</h2>
      <img src="../../../imagenes/cerca_mar/p1.jpg" alt="">
        
        <p>
        Si de algo presume Menorca es de su turismo de sol y playa. Pero, sin lugar a dudas, la isla más oriental de las Baleares guarda tesoros mucho más allá de sus calas de aguas transparentes. Una de estas maravillas está en el norte de la isla, donde la caldereta de langosta es solo uno de sus encantos. 
        </p>
        
        <h4 class="marginTop20" >Historia</h4>

        <p>Fornells fue durante mucho tiempo un puerto desierto y a excepción de una atalaya construida en el siglo XVI que se erguía sobre la Mola, no existía construcción alguna. La bahía se convirtió en un lugar de refugio y escala para las naves piratas del Mediterráneo. No fue hasta el saqueo del corsario Barbaroja sobre Mahón y el ataque pirata 
          a Ciudadela en 1558 que se decidió asegurar este punto estratégico con la construcción del Castillo de Sant Antoni .</p>
   
        <h4 class="marginTop20" >¿Qué ver y qué hacer? </h4>  

        <p>
        Precisamente esos orígenes defensivos de la ciudad constituyen algunas de las atracciones que ver en Fornells. La Torre de Defensa, una de las más grandes de Menorca, resume la ambición británica por defender la isla a principios del XIX. ¡No te pierdas sus vistas al puerto!
        </p>
        
        <p>
        Y es que Fornells es un pequeño pueblo de pescadores, con todo el embrujo de estos: calles angostas, casas blancas, puerto con encanto… La plaza de S´Algeret, con la Iglesia de Sant Antoni, o los restos del Castillo de San Antonio, son lugares a visitar en tu escapada a Fornells. Y Ses Salines te mostrará la belleza de una antigua explotación salina, con una fauna avícola espectacular.
        </p>

         <h5>Calas y playas de Fornells</h5>
      <p>Cala Cabra Salada: no es una cala o playa como tal, sino una plataforma artificial desde la que los bañistas pueden acceder al mar. Está en pleno casco urbano de Fornells.</p>
        <p>Cala Tirant: tiene algo más de medio kilómetro de longitud y unos 20 metros de anchura. Esta cala está enmarcada por un cinturón de dunas y éste, a su vez, por una zona húmeda en torno a la desembocadura de un arroyo.</p>
   
<h5>La torre de Fornells</h5>
<p>Esta torre de Fornells es una de las más representativas que hay que ver en Menorca. Su perfecta planta circular y el hecho de que haya preservado su estructura y apariencia original la convierten en una de las más visitadas de entre cuantas formaron el sistema defensivo de costa de la isla.</p>



       </div>
      <div class="container-ubicacion" >   
        <h2>Ubicación</h2>  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12215.6711517848!2d4.120210591231593!3d40.05493557053959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12be233fa72ae2fd%3A0xa02af717f576020!2s07748%20Fornells%2C%20Islas%20Baleares!5e0!3m2!1ses!2ses!4v1608450109768!5m2!1ses!2ses" 
        width="340" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      
         
        <div class ="container-alojamiento marginTop60">

          <h2>Reserva tu alojamiento</h2>
          <label for="">Fecha de entrada</label>
          <select name="dia">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            </select>

            <select name="mes">
              <option value="1">enero</option>
              <option value="2">febrero</option>
              <option value="3">marzo</option>
              <option value="4">abril</option>
              <option value="5">mayo</option>
              <option value="6">junio</option>
              <option value="7">julio</option>
              <option value="8">agosto</option>
              <option value="9">septiembre</option>
              <option value="10">octubre</option>
              <option value="11">noviembre</option>
              <option value="12">diciembre</option> 
            </select>
  
            <label for="">Fecha de Salida</label>

            <select name="dia">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              </select>
  
              <select name="mes">
                <option value="1">enero</option>
                <option value="2">febrero</option>
                <option value="3">marzo</option>
                <option value="4">abril</option>
                <option value="5">mayo</option>
                <option value="6">junio</option>
                <option value="7">julio</option>
                <option value="8">agosto</option>
                <option value="9">septiembre</option>
                <option value="10">octubre</option>
                <option value="11">noviembre</option>
                <option value="12">diciembre</option> 
              </select>
              <br> <a class="button marginTop20" href="#">Buscar</a>

        </div>
      
      
      </div> 
        
     
    
  </div>
</div>


  <footer>
    <img src="../../../imagenes/logo3.png" alt="">
  </footer>
</body>

</html>